
<div id="fg-congrats-page">
  <div id="congrats-content">
    <h1>Account already enrolled.</h1>
    <p id="congrats-middle">This email account is already enrolled in our monthly free goods program. If you have any questions, please <a href="/pages/contact">contact us.</a></p>
  </div>
</div>


<style>
  #fg-congrats-page {
    height: 100vh;
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/floral_desktop.jpg?53063);
    background-size: cover;
    text-align: center;
  }
  
  #congrats-content {
    width: 500px;
    padding-top: 175px;
    margin: 0 auto;
  }
  
  #congrats-middle {
    padding: 50px 0 25px 0;
  }
  
  #congrats-middle span {
    font-family: 'NBH';
  }
  
  #congrats-middle a {
    text-decoration: underline;
  }
  
  
  @media (max-width: 737px) {
    #congrats-content {
      width: 400px;
      padding-top: 125px;
    }
  }
  
  @media (max-width: 560px) {
    #congrats-content {
      width: 292px;
    }
  }
  
  @media (max-width: 350px) {
    #fg-congrats-page {
      background-position-y: 70px;
    }
  }
</style>