<!-- Bold: Memberships (page) -->
{% include 'bold_mem_helper' with 'page' %}
<!-- end Bold code -->

<!-- /templates/page.liquid -->
<div id="page_content">
  <div class="career-wrapper">
    <div class="career_hero">
      <div class="row clearfix">
        <div class="column_12 career-top-div">
          <h1>Careers</h1>
        </div>
      </div>
    </div>
    <div class="career-middle-div">
      <div class="job-middle-content">
        <div class="job-title-info">
          <p class="job-title">Community &amp; Social Media Manager</p>
          <p class="job-info"> Full-time, New York City</p>
        </div>
        <div class="job-description">
          <p>Public Goods' mission is to make premium-quality, healthy products affordable to everyone. We are looking for someone who will be both the day-to-day administrator of our social media channels 
            as well as a creative marketing voice for our social media content. This individual will also work hand-in-hand with the customer care team to ensure best social customer care practices and 
            report on all social media analytics as it integrates with our brand’s growth goals. </p>
          <br>
          <p class="job-page-subsection-title">You will:</p>
	      <ul>
            <li>Manage and grow existing organic social media channels (e.g. Facebook, Instagram and LinkedIn).</li>
            <li>Increase community engagement and channel performance through both proactive conversation and customer care response via social media.</li>
            <li>Own all performance reporting, delivering insights that drive recommendations to continuously improve and grow our channel base and engagement over time.</li>
            <li>Test and launch new social media channels such as Twitter and Pinterest.</li>
            <li>Manage Public Goods social content and community activation calendar, directly administering all posts and/or liaising with partner vendors.</li>
            <li>Execute marketing activations in social, and develop original community engagement campaigns.</li>
            <li>Work with marketing growth team to develop brand and influencer partnerships.</li>
            <li>Collaborate with our influencer agency and our PR team.</li>
          </ul>
          <p class="job-page-subsection-title">You have:</p>
		  <ul>
            <li>Experience managing social media.</li>  
            <li>Strong in either copywriting or creative production.</li>
            <li>Previous experience in hospitality, CPG and/or sustainable brands preferred.</li>
            <li>Excitement for social media.</li>
          </ul>
          <p class="job-page-subsection-title">We offer:</p>
          <ul>
            <li>Competitive salary with options package.</li>
            <li>Full dental and medical.</li>
            <li>Quickly growing environment with kind, passionate people</li>
          </ul>
        </div>
        <div class="apply-here">
          <p><a href="mailto:work@publicgoods.com?subject=Social Media Manager at Public Goods">Apply Here</a></p>
          <p>Email your resume, LinkedIn page, and a brief note to work@publicgoods.com with the subject line “Social Media Manager at Public Goods.”.</p>
        </div>
        <div class="back-to-jobs">
          <p><a href="/pages/careers">back to all jobs</a></p>
        </div>
      </div>
    </div>
     <div class="career-bottom-div">
       <div class="career-bottom-content">
         <div class="career-bottom-header cbc ">
           <h3>Don’t see what you’re looking for?</h3>
         </div>
         <div class="career-bottom-info cbc">
           <p>Send us your resume if you’d love to work at Public Goods.</p>
         </div>
         <div class="career-bottom-button cbc">
           <a href="mailto:work@publicgoods.com?subject=Job Openings at Public Goods">Drop Us A Line</a>
         </div>
       </div>
     </div>
  </div>
</div>

<style>
  li {
    font-size: 18px;
    line-height: 26px;
    font-family: 'NB';
  }
  .job-page-subsection-title {
    text-decoration: underline;
  }
  .career_wrapper {
    height: 100%;
  }
  .career_hero {
    background-image: url("https://cdn.shopify.com/s/files/1/0838/7991/files/careers_header.jpg?3047769160939112154");
    background-size: cover;
    background-position: bottom right;
  }
  .career-top-div {
    width: 100%;
    height: 500px;
    position: relative;
    background-size: cover;
  }
  .career-middle-div {
    width: 100%;
    height: 35%;
    position: relative;
    text-align: -webkit-center;
    text-align: -moz-center;
    margin-top: 100px;
  }
  .career-bottom-div {
    width: 100%;
    height: 300px;
    position: relative;
    text-align: -webkit-center;
    text-align: -moz-center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .career-top-div h1 {
    padding-top: 400px;
    color: #fff;
    left: 0;
    top: 0;
    font-size: 42px;
  }
  .job-middle-content {
    width: 60%;
  }
  .job-title-info {
    text-align: left;
  }
  .job-title {
    font-size: 24px;
    height: 30px;
    width: 450px;
/*     font-weight: bold; */
  }
  .job-info {
/*     font-weight: bold; */
  }
  .job-description {
    text-align: left;
    margin-top: 40px;
  }
/*   .job-description p {
    font-weight: bold;
  } */
  .apply-here {
    text-align:left;
    margin-top: 40px;
  }
  .apply-here p a {
    font-weight: bold;
    color: #000;
    text-decoration: underline;
  }
  .back-to-jobs {
    margin-top: 40px;
    text-align: left;
  }
  .back-to-jobs p a {
    text-decoration: underline;
  }
  .career-bottom-content {
    width: 70%;
    position: relative;
    background-color: #dc886c;
    height: 100%;
  }
  .career-bottom-header {
    padding-top: 60px;
    width: 80%;
  }
  .career-bottom-header h3 {
    color: #fff;
    font-size: 30px;
  }
  .career-bottom-info {
    padding-top: 40px;
    padding-bottom: 50px;
    width: 80%;
  }
  .career-bottom-info p {
    color: #fff;
  }
  .career-bottom-button a {
    color: #dc886c;
    background-color: #fff;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'NBH';
  }
  .arrow-img {
    width: 30px;
  }
  
  @media (max-width: 1400px) {
    .career-top-div h1 {
      padding-left: 100px;
    }
  }
  
  @media (max-width: 900px) {
    .career-bottom-header h3 {
      font-size: 24px;
    }
    .career-top-div {
      text-align: center;
    }
    .career-top-div h1 {
      padding-left: 0;
    }
  }
  
  @media (max-width: 790px) {
    .career-bottom-info p {
	  font-size: 18px;
      line-height: 26px;
    }
    .career-bottom-header h3 {
      line-height: 30px;
    }
    .career-bottom-header {
      padding-top: 35px;
    }
    .job-middle-content {
      width: 80%;
    }
    .career-bottom-content {
      width: 80%;
    }
  }
  
  @media (max-width: 737px) {
    li {
      font-size: 13px;
      line-height: 20px;
    }
  }
  
  @media (max-width: 475px) {
    .career-top-div h1 {
      font-size: 32px;
    }
    #forMenu {
      height: 0;
    }
    .job-title {
      font-size: 20px;
    }
  }
  
  @media (max-width: 382px) {
    .career-bottom-div {
      height: 350px;
    }
    .job-title {
      font-size: 16px;
    }
  }
  
  @media (max-width: 325px) {
   .career-bottom-header h3 {
     font-size: 20px;
     line-height: 26px;
    }
  }
  @media (max-width: 325px) {
   .job-title {
      font-size: 14px;
    }
  }
</style>