<!-- /templates/page.liquid -->

<!--<style type="text/css">@import url("https://mem.boldapps.net/app_assets/css/bs-modal-only.min.css");</style>!-->

<!--<style type="text/css">@import url("https://shappify-cdn.com/mem/morgansdev.myshopify.com-widget-style.css");</style>!-->



<!-- Google Code for Place an order Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 952834162;
var google_conversion_label = "IVLMCNv1oWMQ8rCsxgM";
var google_conversion_value = 50.00;
var google_conversion_currency = "USD";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/952834162/?value=50.00&amp;currency_code=USD&amp;label=IVLMCNv1oWMQ8rCsxgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<script type="text/javascript">
  var it=document.createElement("img");
  var u="http://adserver.rhombusads.com/e/10093/448894/e.gif";
  var t=new Date().getTime();
  var ut=u+"?_="+t;
  it.src=ut;
  it.border=0;
</script>


<div id="membership_success">
  <div class="grid--full">
    <div class=" grid__item large--one-half medium--one-whole small--one-whole">
      <!--<h2 class="margin_bottom_30">Why Membership?</h2>
      <h1>It’s simple: Become a member and never overpay for healthy products again</h1>!-->

      <h2 class="padding-custom-60 margin_bottom_60 margin_top_70">SUCCESS</h2>
      <h1 class="padding-custom-60 margin_bottom_60">Please check your inbox.</h1>      
      <p class="padding-custom-60">We’ve sent you a link to activate your account, now let’s make it official. Just click 'activate' and you can begin shopping at Public Goods.</p>  
      
    </div>
  </div>    

</div>
<!--<div id="free_start">
  <div class="row clearfix">
    <div class="column_4">
      <h1 class="margin_bottom_50">Start your free 30-day trial today.</h1>
      <h3 class="margin_bottom_50">After 30 days you’ll have the following billing options. Choose your preference—you can always cancel if you’re not satisfied.</h3>
      <div class="margin_bottom_10"><input type="radio"/><span><font>$96</font>/year (equivalent of $8/month)</span></div>
      <div class="margin_bottom_10"><input type="radio"/><span><font>$30</font>/quarter (equivalent of $10/month)</span></div>
      <div class="margin_bottom_10"><input type="radio"/><span><font>$12</font>/month</span></div>
      <a href="#" class="button inverted margin_top_30 margin_bottom_70">30 Days For Free</a>
    </div>
    <img src="{{ 'two.png' | asset_url }}" alt=""/>
  </div>
</div>!-->

<style>
  .grid--full {
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/desktop.jpg?2098);
    height: 85vh;
    background-position-y: 89%;
  }
  
  .grid__item {
    float: none;
    color: #000;
    margin: 0 auto;
    text-align: center;
     padding-top: 40px;
  }
  
  @media screen and (max-width: 1160px) and (min-width: 768px) {
    #membership_success .margin_bottom_60 {
        margin-bottom: 40px;
    }
  }
  
  @media (max-width: 950px) {
    .small--one-whole {
      padding-top: 50px;
    }
    .margin_bottom_60 {
      margin-bottom: 40px !important;
    }
  }
  
  @media (max-width: 737px) {
    .margin_bottom_60 {
      margin-bottom: 20px !important;
    }
    .small--one-whole {
      padding-top: 50px;
    }
        .grid__item {
      padding-top: 120px;
    }
  }
  
    @media (max-width: 400px) {
      .padding-custom-60 {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  
  @media (max-width: 400px) {
    .grid--full {
      background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/desktop.jpg?2098);
       height: 100vh;
    }
    
         .grid__item {
      padding-top: 100px;
    }
  }
</style>


<script>  
     
  
  $(document).ready(function(){
    
      function createCookie(name,value,days) {        if (days) { var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            var expires = "; expires="+date.toGMTString();
        }
        else var expires = "";
        document.cookie = name+"="+value+expires+"; path=/";
        }

      function readCookie(name) { var nameEQ = name + "=";    var ca = document.cookie.split(';');
          for(var i=0;i < ca.length;i++) {
              var c = ca[i];
              while (c.charAt(0)==' ') c = c.substring(1,c.length);
              if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
          }
          return null;
      }    

      function eraseCookie(name) {     createCookie(name,"",-1);    
      }

    
    
    var getUrlParameter = function getUrlParameter(sParam) {
          var sPageURL = decodeURIComponent(window.location.search.substring(1)),
              sURLVariables = sPageURL.split('&'),
              sParameterName,
              i;

          for (i = 0; i < sURLVariables.length; i++) {
              sParameterName = sURLVariables[i].split('=');

              if (sParameterName[0] === sParam) {
                  return sParameterName[1] === undefined ? true : sParameterName[1];
              }
          }
      };
    
	var pn = getUrlParameter('pn');
    
      function getRandomArbitrary(min, max) {
    		      return Math.random() * (max - min) + min;
      }

      var custEmail = readCookie("custEmail");
        
    
    
    console.log(pn);
    eraseCookie("custEmail");
      var randomID = Math.round(getRandomArbitrary(10000, 999999999));
    
    if(pn=='Free 30 Days Trial' || pn=='Free%2030%20Days%20Trial')
    {
//       pg.logEvent('membership success',{'membership type':'trial'});
      
      
       console.log('trial membership script working .... '); 
          
         /* ------------  GOOGLE ANALYTICS EVENTS ------------   */ 
          ga('send', {
            hitType: 'event',
            eventCategory: 'Purchase',
            eventAction: 'Membership',
            eventLabel: 'withTrial'
          });
         
          ga('send', {
            hitType: 'event',
            eventCategory: 'Purchase',
            eventAction: 'Membership',
            eventLabel: 'any'
          });
   

   	

      
      fuelx("purchase", {
        orderId:"{{randomID}}",
        orderValue:"59.00",
        products:""
      });
      
      snaptr('track', 'PURCHASE', {'currency': 'USD', 'price': '00.00', 'item_category': 'Trial', 'number_items': 1 });
    
    	 _dcq.push(["identify", {
        email: custEmail,
        tags: ["Membership trial cj"],
        user_id: randomID,
        success: function(data){
            console.log(data);
          
			//randomID = data.visitor_uuid; 
            var cj_event_val = readCookie("cjevent");
          	var iframe = '<iframe height="1" width="1" frameborder="0" scrolling="no"'+
            'src="https://www.emjcd.com/tags/c?containerTagId=22866&CID=1544695&OID='+randomID+'&'+
            'TYPE=399225&AMOUNT=0"'+
            'name="cj_conversion" ></iframe>';
            console.log(iframe);
	     	$("body").prepend(iframe);
//           	eraseCookie("cjevent");
          
            // Brandxads pixel
            var iframe_brandxads  = '<iframe src="https://t1.webbconnected.com/p.ashx?a=245&e=262&t='+randomID+'" height="1" width="1" frameborder="0"></iframe>';
            console.log(iframe_brandxads);
            $("body").prepend(iframe_brandxads);

        },
        failer: function(data){
            console.log(data);
        }
      }]);
      
      //   Pinterest tracking
  pintrk('track', 'signup');
  
      
      
//       <!--SteelHouse Conversion Pixel-->
//       <!-- Install ONLY on conversion page/event-->
      (function(){var x=null,p,q,m,
      o="22941",
      l=randomID,
      i="00",
      c="",
      k="",
      g="",
      j="",
      u="",
      shadditional="";
      try{p=top.document.referer!==""?encodeURIComponent(top.document.referrer.substring(0,512)):""}catch(n){p=document.referrer!==null?document.referrer.toString().substring(0,512):""}try{q=window&&window.top&&document.location&&window.top.location===document.location?document.location:window&&window.top&&window.top.location&&""!==window.top.location?window.top.location:document.location}catch(b){q=document.location}try{m=parent.location.href!==""?encodeURIComponent(parent.location.href.toString().substring(0,512)):""}catch(z){try{m=q!==null?encodeURIComponent(q.toString().substring(0,512)):""}catch(h){m=""}}var A,y=document.createElement("script"),w=null,v=document.getElementsByTagName("script"),t=Number(v.length)-1,r=document.getElementsByTagName("script")[t];if(typeof A==="undefined"){A=Math.floor(Math.random()*100000000000000000)}w="dx.steelhousemedia.com/spx?conv=1&shaid="+o+"&tdr="+p+"&plh="+m+"&cb="+A+"&shoid="+l+"&shoamt="+i+"&shocur="+c+"&shopid="+k+"&shoq="+g+"&shoup="+j+"&shpil="+u+shadditional;y.type="text/javascript";y.src=("https:"===document.location.protocol?"https://":"http://")+w;r.parentNode.insertBefore(y,r)}());
      
    }    
    
    else if(pn=='Membership')
    {
      
      console.log('membership script working .... ');
      /* ------------  GOOGLE ANALYTICS EVENTS ------------  */  
          ga('send', {
            hitType: 'event',
            eventCategory: 'Purchase',
            eventAction: 'Membership',
            eventLabel: 'noTrial'
          });
         
          ga('send', {
            hitType: 'event',
            eventCategory: 'Purchase',
            eventAction: 'Membership',
            eventLabel: 'any'
          });
         /* ------------  END GOOGLE ANALYTICS EVENTS ------------  */  
      /* ------------  FACEBOOK EVENTS ------------  */         
           fbq('track', 'AnyMemPur');
           /* ------------  END FACEBOOK EVENTS ------------  */    


      function getRandomArbitrary(min, max) {
          return Math.random() * (max - min) + min;
      }

      
      var randomID = Math.round(getRandomArbitrary(1000000, 99999999));

      
      var iframe = '<iframe height="1" width="1" frameborder="0" scrolling="no"'+
            'src="https://digitalremedy.servecvr.com/?nid=50&oid=9442&transaction_id='+randomID+'"'+
            'name="digital remedy pixel" ></iframe>';
      console.log('digital remedy pixel');
          console.log(iframe);
	     $("body").prepend(iframe); 
      
      console.log("RandomID");
      console.log(randomID);
      fuelx("purchase", {
        orderId:randomID,
        orderValue:"59.00",
        products:""
      });
      
      snaptr('track', 'PURCHASE', {'currency': 'USD', 'price': 59.00, 'item_category': 'Paid', 'number_items': 1, 'transaction_id': randomID });
      
      
      _dcq.push(["identify", {
        email: custEmail,
        tags: ["Membership cj"],
        user_id: randomID,
        success: function(data){
            console.log(data);
          
			//randomID = data.visitor_uuid;
          	var cj_event_val = readCookie("cjevent");
          	var iframe = '<iframe height="1" width="1" frameborder="0" scrolling="no"'+
            'src="https://www.emjcd.com/tags/c?containerTagId=23208&CID=1544695&OID='+randomID+'&'+
            'TYPE=399743&CURRENCY=USD&AMT1=59.00&ITEM1=membership&QTY1=1"'+
            'name="cj_conversion" ></iframe>';
          	console.log(iframe);
	     	$("body").prepend(iframe);  
			eraseCookie("cjevent");
        },
        failer: function(data){
            console.log(data);
        }
      }]);
      
    }
  })
</script>

<img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/v3/?tid=2612414959587&event=signup&noscript=1" />
<!-- <img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/v3/?tid=2613930601070&event=signup&noscript=1" /> -->


