
<div id="mission_hero">
  <div id="sticky-button-bottom">
        <div id="stickThis" class="free-tote-second-div" style="width: 100%">
          <a href="/collections/all-products" class="button inverted">Shop Now</a>
        </div>
    </div>
   <div id="stick-here" class="stick-here"></div>
  <div class="row clearfix">
    <div class="column_6">
       <h1 class="margin_bottom_40">Open house.</h1>
      <p class="margin_bottom_20 without-padding">This week only, shop our healthy,
                                                  <br>eco-friendly goods at a fraction
                                                  <br>of traditional retail cost.</p>
      <p class="margin_bottom_20 without-padding">No strings. No membership.
                                            <br>All access.</p>
      
        <a href="/collections/all-products" class="home-shop-btn">Shop Now</a>
<!--       <div id="hero-buttons">
      {% if customer %}
	     <a href="/collections/all-products" class="home-shop-btn">Browse Products</a>
      {% else %}
    	<a class="subscribe-to-membership-32-45 subscribe-to-membership margin_top_30 button inverted button-cta">Free 30 Day Trial</a>
        <a href="/collections/all-products" class="home-shop-btn browse-prod-btn">Browse Products</a>
      {% endif %}
      </div> -->
      
    </div>
    <div class="text_center margin_top_50 margin_bottom_70">

  
<!--     <a href="/pages/membership" class="button inverted">Join Today</a> -->
         
    </div>
    <!--<img src="{{ 'two.png' | asset_url }}" alt=""/>!-->
  </div>
</div>


<div id="info-container">
  <div class="info-left">
    <h3 class="info-left-title">Our philosophy:</h3>
    <p class="info-left-main">We believe that together our small choices can make a big impact. That’s why we’re committed to making healthier, more informed choices easy and accessible to all.</p>
    <a href="https://www.publicgoods.com/pages/about-us" class="info-left-link">about us</a>
  </div>
  <div class="info-right">
    <h3 class="info-right-title">Our goods are:</h3>
    <p class="info-right-main">Better for your body <br>Better for our planet <br>Beautiful in your home</p>
    <a href="https://www.publicgoods.com/collections/all-products" class="info-right-link">shop now</a>
  </div>
</div>

<div id="testimonials">
  <div class="test-content">
    <div class="test-left-arrow">
      <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/arrow_left.png?56891" />
    </div>
    <div class="test-middle">
      <h1 id="testimonial-words">“a one-stop shop for all your home goods needs.”</h1>
      <img id="testimonial-img" src="https://cdn.shopify.com/s/files/1/0838/7991/files/domino.png?56891" />
    </div>
    <div class="test-right-arrow">
      <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/arrow_right.png?56891" />
    </div>
  </div>
</div>

    <div class="shop-by-category">
      <div class="main-categories">
          <div class="main-categories-tile main-categories-pc">
            <a class="no-decor" href="https://www.publicgoods.com/collections/personal-care">
              <div class="main-categories-words">
                <h2>Personal Care</h2>
                <a href="https://www.publicgoods.com/collections/personal-care">shop all</a>
              </div>
            </a>
          </div>
          <div class="main-categories-tile main-categories-household">
            <a class="no-decor" href="https://www.publicgoods.com/collections/household">
              <div class="main-categories-words">
                <h2>Home Essentials</h2>
                <a href="https://www.publicgoods.com/collections/household">shop all</a>
              </div>
            </a>
          </div>
          <div class="main-categories-tile main-categories-food">
            <a class="no-decor" href="https://www.publicgoods.com/collections/grocery">
              <div class="main-categories-words">
                <h2>Healthy Food</h2>
                <a href="https://www.publicgoods.com/collections/grocery">shop all</a>
              </div>
            </a>
          </div>
           <div class="main-categories-tile main-categories-vitamins">
             <a class="no-decor" href="https://www.publicgoods.com/collections/vitamins-and-supplements">
              <div class="main-categories-words">
                <h2>Vitamins and Supplements</h2>
                <a href="https://www.publicgoods.com/collections/vitamins-and-supplements">shop all</a>
              </div>
             </a>
          </div>
      </div>
  </div>

<div id="open-house-bottom">
  <div class="oh-bottom-content">
    <h1>Planting seeds of good. Together.</h1>
    <p>Reforestation is one of the most effective ways to combat climate change, so we plant a tree on behalf of each and every member. With over 14 acres and counting, we're continuing our efforts.</p>
<!--     <a href="#" class="free-trial-btn">free trial membership</a> -->
  </div>
</div>


<style>
  a.home-shop-btn {
    color: #fff;
    background-color: #DC886C;
  }
  
  #mission_hero {
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/hero_desk.jpg?56891) !important;
  }
  
  #info-container {
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
  }
  
  .info-left {
    width: 45%;
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/pines_desk.jpg?56891);
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .info-right {
    width: 45%;
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/baby_desk.jpg?56891);
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .info-right-title, .info-left-title {
    font-size: 24px;
  }
  
  .info-left-main {
    padding: 0 75px;
  }
  
  .info-left-link {
    color: #fff !important;
    font-family: 'NBH';
    text-decoration: underline;
  }
  
  .info-right-link {
    color: #000 !important;
    font-family: 'NBH';
    text-decoration: underline;
  }
  
  #testimonials {
    height: 250px;
    margin: 150px 0 50px 0;
  }
  
  .test-2, .test-3 {
    display: none;
  }
  
  #testimonial-words {
    padding-bottom: 50px;
  }
  
  #testimonial-img {
    width: 200px
  }
  
  .test-content {
    display: flex;
    justify-content: space-evenly;
  }
  
  .test-middle {
    text-align: center;
    width: 42%;
  }
  
   .test-right-arrow img, .test-left-arrow img {
     cursor: pointer;
  }
  
    .test-right-arrow, .test-left-arrow {
      width: 60px;
    }
  
   .free-tote-second-div {
    display: none !important;
  }
  
  #hero-buttons {
    display: block;
  }  
  
  .shop-by-category {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  
  .main-categories {
    display: flex;
    height: 230px;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .main-categories-tile {
    width: 24%;
    background-size: cover;
    background-position-y: 100%;
    cursor: default;
  }

  .main-categories-pc {
    background-image: url("https://cdn.shopify.com/s/files/1/0838/7991/files/tile_personal_care.jpg?12413255820896601983")
  }

  .main-categories-household {
    background-image: url("https://cdn.shopify.com/s/files/1/0838/7991/files/tile_household.jpg?12413255820896601983")
  }

  .main-categories-food {
    background-image: url("https://cdn.shopify.com/s/files/1/0838/7991/files/tile_food.jpg?12413255820896601983")  
  }

  .main-categories-vitamins {
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/tile_vitamins_retouch.jpg?41730);
    background-position-x: 85%;
  }

  .main-categories-words {
    margin-top: 120px;
  }

  .main-categories-words a {
    color: #000;
    text-decoration: underline;
    margin-top: 5px;
  }

  .main-categories-words h2 {
    margin-bottom: 5px;
    line-height: 24px;
  }
  
  #open-house-bottom {
    height: 350px;
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/plant_trees_desk.jpg?57073);
    width: 90%;
    margin: 0 auto;
    background-size: cover;
    margin-bottom: 50px;
  }
  
  .oh-bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
    text-align: center;
    height: 100%;
    width: 600px;
    margin: 0 auto;
  }
  
  .oh-bottom-content h1 {
    font-size: 30px;
  }
  
  .oh-bottom-content a {
    font-family: 'NBH';
    color: #fff;
    text-decoration: underline;
    border: none;
  }
 
  
  @media (min-width: 1300px) {
    #info-container {
      height: 500px;
    }
  }
  
  @media (min-width: 1500px) {
    #info-container {
      height: 600px;
    }
  }
  
  @media (min-width: 1700px) {
    #info-container {
      height: 700px;
    }
  }

  @media (max-width: 1300px) {
    .main-categories-household {
      background-position-x: 35%;
    }
    .main-categories-food {
      background-position-x: 75%;
    }
  }
  
  @media (max-width: 1000px) {
    .main-categories {
      display: block;
      height: auto;
      text-align: -webkit-center;
      text-align: -moz-center;
    }

    .main-categories-household {
      margin: 50px 0;
    }

    .main-categories-vitamins {
      margin-top: 50px;
    }

    .main-categories-tile {
      width: 75%;
      height: 300px;
    }

    .main-categories-words {
      margin-top: 0;
      padding-top: 140px;
    }
  
  }
  
    
  @media screen and (max-width: 950px) {
    #hero-buttons, .row .button-cta, a.home-shop-btn {
      display: none;
    }
    
    a.button.inverted {
      padding: 20px 0 !important;
	}
    .free-tote-second-div {
      display: block !important;
    }
    #stickThis a.button.inverted {
      margin: 0px !important;
      width: 100% !important;
      text-align: center !important;
    }
    
    #mission_hero {
      background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/hero-mobile_d55057f6-6d4e-4ed3-9c4b-1ab236f36468.jpg?57073) !important;
      background-position-y: 25px;
    }
    
    #testimonial-words {
      font-size: 24px;
      line-height: 30px;;
    } 
    
    #testimonial-img {
      width: 125px;
    }
    
    #testimonials {
      margin: 100px 0 0px 0;
    }
  }
  
  @media (max-width: 900px) {
    #info-container {
      flex-direction: column;
      height: 1000px;
    }
    .info-left, .info-right {
      width: 90%;
      margin: 0 auto;
      height: 47%;
    }
    
    .info-right {
      background-image: url("https://cdn.shopify.com/s/files/1/0838/7991/files/baby_mobile.jpg?57073");
      background-position: bottom;
    }
    
    .info-left {
      background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/pines_mobile.jpg?57073);
      background-position: bottom;
    }
  }
  
  @media (max-width: 850px) {
    #mission_hero {
      background-position-y: 86px;
    }
  }
    
  @media (max-width: 737px) {
    #mission_hero {
      background-position-y: 33%;
      height: 525px;
    }
    
    #mission_hero h1 {
      padding-bottom: 300px;
    }
    
    #mission_hero .column_6 p {
      font-size: 16px;
      line-height: 21px;
    }
    
    .info-left-main, .info-right-main {
      font-size: 16px;
      line-height: 21px;
    }
    
    .info-right a, .info-left a {
      font-size: 14px;
    }
    
    #testimonial-words {
      font-size: 20px;
      line-height: 25px;;
    } 
    
    #testimonial-img {
      width: 100px;
    }
    
    .test-right-arrow, .test-left-arrow {
      width: 50px;
    }
    
    .oh-bottom-content h1 {
      font-size: 24px;
    }
    
    .oh-bottom-content p {
      font-size: 16px;
      line-height: 21px;
    }
    
    .oh-bottom-content a {
      font-size: 14px;
    }
    
    .oh-bottom-content {
      width: 450px;
    }
  }
  
  @media (max-width: 550px) {
    #mission_hero {
      height: 500px;
    }
     #mission_hero h1 {
      padding-bottom: 270px;
    }
    
   .oh-bottom-content {
      width: 90%;
    }
    
    .info-left-main {
	  padding: 0 50px;
	}
    
    #testimonial-words {
      font-size: 16px;
      line-height: 21px;
    }
    
    .test-middle {
      width: 55%;
    }
    
    .test-right-arrow, .test-left-arrow {
      width: 32px;
	}
    
    #testimonial-words {
      padding-bottom: 30px;
    }
  }
  
  @media (max-width: 600px) {
   .main-categories-tile {
      width: 100%;
    }
  }
  
  @media (max-width: 460px) {
    .main-categories-tile {
      background-position: bottom;
    }
    
    #mission_hero h1 {
      padding-bottom: 325px;
   }
    
    #open-house-bottom {
      height: 400px;
    }
    
    .test-middle {
      width: 65%;
    }
  }
    
  @media (max-width: 330px) {
  #testimonial-words {
    font-size: 14px;
    line-height: 19px;
  }
  }
  
  
</style>

<script>
  
      
    const headlines = ["“Clean... Ethically sourced... organic... at drastically low prices.”", "“Better quality everyday products in biodegradable or recycled packaging.”", "“a one-stop shop for all your home goods needs.”"]
    const reviewers = ["https://cdn.shopify.com/s/files/1/0838/7991/files/fast_company.png?56891", "https://cdn.shopify.com/s/files/1/0838/7991/files/forbes_72bb5631-a068-4f21-9ae8-a16967a7412f.png?56891", "https://cdn.shopify.com/s/files/1/0838/7991/files/domino.png?56891"]
    let numOfReviews = headlines.length
    let index1 = 0

    $(".test-left-arrow").click(function() {
      $("#testimonial-words").text(headlines[index1])
      $("#testimonial-img").attr({ "src": reviewers[index1] });
      index1 = (index1 + 2) % numOfReviews
    })
    
    $(".test-right-arrow").click(function() {
      console.log(index1)
      $("#testimonial-words").text(headlines[index1])
      $("#testimonial-img").attr({ "src": reviewers[index1] });
      index1 = (index1 + 1) % numOfReviews
    })
  
       function sticktothebottom() {
        var h = window.innerHeight;
        var window_top = $(window).scrollTop();
        var top = $('#stick-here').offset().top;
        var panelh = $(".free-tote-second-div").height();

        if(h> top || h + window_top > top + 50) {
            $('#stickThis').appendTo('body');
            $('#stickThis').css('position', 'fixed');
            $('#stickThis').css('bottom', '0');
        } else {
            $('#stickThis').appendTo('#stick-here');
            $('#stickThis').css('position', 'relative');
            $('#stickThis').css('bottom', 'auto');
        }
      }

      var w = window.innerWidth
      || document.documentElement.clientWidth
      || document.body.clientWidth;

      var h = window.innerHeight
      || document.documentElement.clientHeight
      || document.body.clientHeight;


      $(function() {
        $(window).scroll(sticktothebottom);
        sticktothebottom();
      });
  
</script>