<!-- Bold: Memberships (page) -->
{% include 'bold_mem_helper' with 'page' %}
<!-- end Bold code -->

<!-- /templates/page.liquid -->
<div id="page_content">
 
  <div id="about-section-one">
    <div class="section-one-words">
      <div class="section-one-heading">
        <h1>You don’t need to be a superhero to save the planet.</h1>
      </div>
      <div class="section-one-subheading">
        <p>We believe that together our small <br>choices can make a big impact.</p>
      </div>
    </div>
  </div>
  
  <div id="about-section-two">
    <div class="section-two-words">
      <p>Many of the toughest problems <br>we face are the result of the <br>products we choose to consume. <br>That’s why we’re committed<br>to making healthier, more informed<br>choices easy and accessible to all.</p>
    </div>
  </div>
  
   <div id="about-section-three" class="row">
    <div class="difference_pack">
      <div class="column_7">
        <a href="https://blog.publicgoods.com/how-we-are-trying-to-practice-sustainability/" target="_blank"><img class='lazyload fullSize'src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0838/7991/files/veggies.jpg?29093" alt=""/></a>
      </div>
      <div class="column_5">
        <h1 class="margin_top_100">Healthy and <br>sustainable.</h1>
        <p class="about-section3-subheading">We don’t make products that aren’t <br>good for people and the planet.</p>
        <a href="https://blog.publicgoods.com/how-we-are-trying-to-practice-sustainability/" target="_blank">Learn more</a>
      </div>
      <div class="clear margin_bottom_50"></div>

      <div class="column_7 differences-middle">
        <a href="https://www.instagram.com/publicgoods/" target="_blank"><img class='lazyload fullSize'src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0838/7991/files/baby.jpg?29093" alt=""/></a>
      </div>
      <div class="column_5">
       <h1 class="margin_top_100">Beautiful<br>and simple.</h1>
        <p class="about-section3-subheading">Simple, minimalist packaging<br>
                                            designed to look beautiful in your<br>
                                            space, rather than stand out on a<br>
                                            drug store shelf.</p>
        <a href="https://www.instagram.com/publicgoods/" target="_blank">Learn more</a>
      </div>
      <div class="clear margin_bottom_50"></div>
      
      <div class="column_7">
        <a href="https://blog.publicgoods.com/why-the-public-goods-model-works-to-benefit-everyone/" target="_blank"><img class='lazyload fullSize'src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0838/7991/files/new-info-graphic.jpg?v=1576102795" alt="" /></a>
      </div>
      <div class="column_5">
        <h1 class="margin_top_100">Affordable and<br>accessible.</h1>
        <p class="about-section3-subheading" style="padding-right: 70px;">Our membership model allows us
                                            to offer the highest quality with
                                            the lowest price tag. For $59 a year,
                                            save on all the items you use the
                                            most and take the guesswork out of
          									finding the best value. </p>
        <a href="https://blog.publicgoods.com/becoming-a-ninja-the-founding-story-of-public-goods/" target="_blank">Learn more</a>
      </div>
      <div class="clear margin_bottom_20"></div>
    </div>
  </div>
  
  <div id="about-section-four">
    <div class="about-section-four-title">
      <p>More to explore</p>
    </div>
    <div class="about-section-four-tiles">
      <div class="about-tile about-tile-prodcuts">
        <a href="/collections/all-products">
          <img class='lazyload'src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0838/7991/files/products_322e73f2-e236-4c5a-80ea-b41bfa81db45.jpg?29093"  alt=""/>
          <p>Product</p>
        </a>
      </div>
      <div class="about-tile about-tile-careers">
        <a href="/pages/careers">
          <img class='lazyload'src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0838/7991/files/careers.jpg?29093"  alt="" />
          <p>Careers</p>
        </a>
      </div>
      <div class="about-tile about-tile-blogs">
        <a href="https://blog.publicgoods.com/" target="_blank">
          <img class='lazyload'src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-expand="-10" data-src="https://cdn.shopify.com/s/files/1/0838/7991/files/blog.jpg?29093"  alt="" />
          <p>Blog</p>
        </a>
      </div>
    </div>
  </div>
  
  <div id="about-section-five">
     <div class="about-section-five-title">
       <a href="https://www.instagram.com/publicgoods/">@publicgoods</a>
    </div>
    <div class="about-section-five-instagram">
      <div id="evm-instagram-feed"></div><script src="https://expertvillagemedia.com/instagramfeed/embed.js" data-shop-id="morgans-dont-run-out.myshopify.com"></script>
    </div>
    <div class="about-section-five-connect">
      <a href="https://www.instagram.com/public_goods_/">Connect</a>
    </div>
  </div>
  
  
</div>

<style>
  #about-section-one {
    height: 500px;
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/waves_desktop.jpg?29093);
    background-position-y: 35px;
    background-size: cover;
/*     padding-top: 150px; */
  }
  
  .section-one-heading {
    padding-top: 200px;
    width: 600px;
    margin: 0 auto;
  }
  
  .section-one-heading h1 {
    text-align: center;
  }
  
  .section-one-subheading p {
    text-align: center;
    padding-top: 30px;
  }
  
  #about-section-two {
/*     height: 400px; */
    margin: 30px;
  }
  
  .section-two-words {
    background-color: #F5886B;
  }
  
  .section-two-words p {
    text-align: center;
    padding: 70px;
    color: white;
    font-size: 22px;
    line-height: 28px;
/*     font-weight: bold; */
  }
  
  .margin_top_100 {
    margin-top: 100px;
  }

  
  .difference_pack a {
    font-family: 'NBH';
    text-decoration: underline;
    color: #000;
    font-size: 18px;
  }
  
  .about-section3-subheading {
    padding: 20px 0;
  }
  
  .differences-middle {
	float: right;
  }
  
  #about-section-four {
    height: 100%;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    margin: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .about-section-four-title {
    margin-bottom: 50px;
    text-align: center;
  }
  
  .about-section-four-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .about-section-four-tiles a {
    color: #000;
  }
  
  .about-tile {
    width: 300px;
    text-align: center;
  }
  
  .about-tile p {
    padding-top: 10px;
  }
  
  .evm_img_div, .evm-hover-li-div, .evm-instagram-button, .evm-instagram-overlay {
    height: 225px !important;
    width: 225px !important;
    float: none !important;
  }
  
  #evm-instagram {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-evenly !important;
  }
  
  #evm-insta {
    margin: 0 !important;
  }
  
  .about-section-five-title {
    padding: 40px 0;
    text-align: center;
  }
  
  .about-section-five-title a {
    color: #000;
    font-size: 18px;
    font-family: 'NB';
  }
  
  .about-section-five-connect {
    text-align: center;
    padding: 40px 0 80px 0;
  }
  
  .about-section-five-connect a {
    font-family: 'NBH';
    color: #000;
    font-size: 18px;
    text-decoration: underline;
  }
  
  @media (max-width: 1000px) {
    .about-tile {
      width: 200px; 
    }
    
    .evm_img_div, .evm-hover-li-div, .evm-instagram-button, .evm-instagram-overlay {
      height: 200px !important;
      width: 200px !important;
    }
  }
  
  @media (max-width: 850px) {
    .evm_img_div, .evm-hover-li-div, .evm-instagram-button, .evm-instagram-overlay {
      height: 300px !important;
      width: 300px !important;
    }
  }

  
  @media (max-width: 870px) {
    .column_7, .column_5 {
      float: none;
      width: 100%;
      text-align: left !important;
    }
    
    .column_5 h1 {
      margin-top: 40px !important;
    }

  }
  
  @media (max-width: 737px) {
    #about-section-one {
      background-position-y: 2px;
    }
    
   .about-tile {
    width: 150px;
   }
    
    .section-one-heading {
      width: 300px;
    }
    
    .section-one-heading h1 {
      font-size: 34px;
      line-height: 40px;
    }
    
    .section-one-subheading p {
      font-size: 16px;
    }
    
    .difference_pack a {
      font-size: 13px;
    }
    
    .about-section-five-title a, .about-section-five-connect a {
      font-size: 13px;
    }
    
    
  }
  
  @media (max-width: 615px) {
    .evm_img_div, .evm-hover-li-div, .evm-instagram-button, .evm-instagram-overlay {
      height: 200px !important;
      width: 200px !important;
    }  
    
    .section-two-words p {
      font-size: 16px;
      line-height: 22px;
    }
  }
  
   @media (max-width: 515px) {
     #about-section-one {
       background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/waves_mobile.jpg?29493);
       height: 400px;
       background-position-y: 10%;
     }
     
     #about-section-two {
       background-color: #F5886B;
       width: 100%;
       margin: 0;
       margin-bottom: 30px;
       height: 350px;
     }
     
     .section-two-words p {
       padding: 0px 10px;
       padding-top: 100px;
       font-size: 20px;
       line-height: 26px;
     }
       
      .about-tile {
       width: 150px;
     }
     
     .section-one-heading {
       padding-top: 120px;
     }
     
     .column_7 {
      padding: 0 10px;
     }
     
     #about-section-four {
       margin: 10px;
     }
   }
  
  @media (max-width: 475px) {
/*     .section-two-words p {
        text-align: center;
        padding: 80px 10px;
      } */
    
     .about-tile {
       width: 130px;
     }
    
      
    #about-section-three {
      margin-bottom: 50px;
    }

  }
  
    @media (max-width: 420px) {
     .about-tile {
       width: 115px;
     }
  }
  
   @media (max-width: 385px) {
     .about-tile {
      width: 100px;
     }
      .section-two-words p {
        font-size: 18px;
        line-height: 24px;
      }
     

   }
  
    @media (max-width: 350px) {
     .about-tile {
      width: 75px;
     }
      
     .section-two-words p {
        font-size: 16px;
        line-height: 22px;
        padding-top: 85px;
      }
      
      #about-section-two {
        height: 300px;
      }
      
           .section-one-heading h1 {
       font-size: 24px;
       line-height: 30px;
     }
     
     .section-one-heading {
       padding-top: 140px;
       width: 240px;
     }
      
    }
  
   @media (max-width: 320px) {
      .section-two-words p {
        font-size: 14px;
        line-height: 20px;
      }
   }
  
     @media (max-width: 300px) {
     .about-tile {
      width: 50px;
     }
   }
</style>