<!-- Bold: Memberships (page) -->
{% include 'bold_mem_helper' with 'page' %}
<!-- end Bold code -->

<!-- /templates/page.liquid -->
<div id="page_content">
  <div class="row clearfix">
  	<div class="column_12">
      <h1>{{ page.title }}</h1>
      <div class="rte">
<!--       	<script type='text/javascript' src='http://dashboard.publicgoods.com/javascripts/api/viz_v1.js'></script>
        <div class='tableauPlaceholder' style='width: 1100px; height: 1527px;'>
          <object class='tableauViz' width='1100' height='1527' style='display:none;'>
            <param name='host_url' value='http%3A%2F%2Fdashboard.publicgoods.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='' /><param name='name' value='PGQuarterlyKPIs&#47;QuarterlyKPIs' />
            <param name='tabs' value='no' /><param name='toolbar' value='yes' />
            <param name='showAppBanner' value='false' /><param name='filter' value='iframeSizedToWindow=true' />
          </object>
        </div> -->
        <iframe src="http://dashboard.publicgoods.com/views/PGQuarterlyKPIs/QuarterlyKPIs?iframeSizedToWindow=true&:embed=y&:showAppBanner=false&:display_count=no&:showVizHome=no" width="800" height="600"></iframe>
      </div>
    </div>
  </div>
</div>
