
  <!-- /templates/page.liquid -->

<div id="mission_hero">
  <div class="row clearfix">
    <div class="column_6">
       <h1 class="margin_bottom_50">Down to business.</h1>
      <p class="margin_bottom_50 without-padding">Our signature quality and design, tailored to the
                                                  <br>needs of your business. A better experience for
                                                  <br>you and your customers is here.</p>
      
        <a href="/collections/all-products" class="home-shop-btn">Browse Products</a>
<!--       <div id="hero-buttons">
      {% if customer %}
	     <a href="/collections/all-products" class="home-shop-btn">Browse Products</a>
      {% else %}
    	<a class="subscribe-to-membership-32-45 subscribe-to-membership margin_top_30 button inverted button-cta">Free 30 Day Trial</a>
        <a href="/collections/all-products" class="home-shop-btn browse-prod-btn">Browse Products</a>
      {% endif %}
      </div> -->
      
    </div>
    <div class="text_center margin_top_50 margin_bottom_70">
   <div id="stick-here" class="stick-here"></div>
  
<!--     <a href="/pages/membership" class="button inverted">Join Today</a> -->
         
    </div>
    <!--<img src="{{ 'two.png' | asset_url }}" alt=""/>!-->
  </div>
</div>

  <div id="sticky-button-bottom">
      {% if customer %}
        <div id="stickThis" class="free-tote-second-div" style="width: 100%">
          <a href="/collections/all-products" class="button inverted">Browse Products</a>
        </div>
      {% else %}
        <div id="stickThis" class="free-tote-second-div" style="width: 100%">
          <a class="subscribe-to-membership-32-45 subscribe-to-membership margin_top_30 button inverted button-cta">Free Trial</a>
        </div>
      {% endif %}
    </div>

  <div class="row margin_bottom_50 margin_top_50">
    <div class="difference_pack">
      <div class="mobile-difference">
        <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/style_b6affee6-50d6-4942-911f-dece2175484a.jpg?50798" alt="" class="fullSize"/>
        <div class="mobile-difference-words">
          <h2 class="margin_top_70 margin_bottom_20">Your style is <br>your business.</h2>
          <p>Beautiful, minimalist packaging design to enhance your aesthetic, not overpower it.</p>
        </div>
      </div>
      <div class="column_7">
        <img class="desktop-difference" src="https://cdn.shopify.com/s/files/1/0838/7991/files/style.jpg?50278" alt="" class="fullSize"/>
      </div>
      <div class="difference-words column_5">
        <h2 class="margin_top_70 margin_bottom_20">Your style is <br>your business.</h2>
        <p>Beautiful, minimalist packaging design to enhance your aesthetic, not overpower it.</p>
    	<a style="margin-top:25px;" href="/collections/all-products" data-label="home-shop" class="shop-now-link">Shop Now</a>
      </div>
      <div class="clear margin_bottom_70"></div>
	  
      <div class="mobile-difference">
        <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/one-stop_6985abe3-9988-4fbb-a9fc-ba0a9b404997.jpg?50798" alt="" class="fullSize"/>
        <div class="mobile-difference-words mobile-difference-left-words">
          <h2 class="margin_top_70 margin_bottom_20">One-stop.</h2>
          <p>Everyday essentials you can trust to be the best. From tree-free toilet paper and plant-powered hand soap to fair trade coffee and organic snack bars.</p>
        </div>
      </div>
      <div class="column_7" style="float:right;">
        <img class="desktop-difference" src="https://cdn.shopify.com/s/files/1/0838/7991/files/one-stop.jpg?50278" alt="" class="fullSize"/>
      </div>
      <div class="difference-words column_5 margin-left-50">
        <h2 class="margin_top_70 margin_bottom_20">One-stop.</h2>
        <p>Everyday essentials you can trust to be the best. From tree-free toilet paper and plant-powered hand soap to fair trade coffee and organic snack bars.</p>
    	<a style="margin-top:25px;" href="/collections/all-products" data-label="home-shop" class="shop-now-link">Shop Now</a>

      </div>
      <div class="clear margin_bottom_70"></div>
      
      <div class="mobile-difference">
        <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/right-size_7cc0fd44-295e-4bd4-b8d2-9c83026a29b8.jpg?50798" alt="" class="fullSize"/>
        <div class="mobile-difference-words">
          <h2 class="margin_top_70 margin_bottom_20">The right size <br>for the job.</h2>
          <p>Options for every situation—from travel sized bottles to refills for our full sized packaging.</p>
        </div>
      </div>
      <div class="column_7">
        <img class="desktop-difference" src="https://cdn.shopify.com/s/files/1/0838/7991/files/right-size.jpg?50278" alt="" class="fullSize"/>
      </div>
      <div class="difference-words column_5">
        <h2 class="margin_top_70 margin_bottom_20">The right size <br>for the job.</h2>
        <p>Options for every situation—from travel sized bottles to refills for our full sized packaging. </p>
    	<a style="margin-top:25px;" href="/collections/all-products" data-label="home-shop" class="shop-now-link">Shop Now</a>
      </div>
      <div class="clear margin_bottom_70"></div>
      
      <div class="mobile-difference">
        <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/numbers_94be70ee-006a-45d5-a2e1-c1fb666abf27.jpg?50798" alt="" class="fullSize"/>
        <div class="mobile-difference-words mobile-difference-left-words">
          <h2 class="margin_top_70 margin_bottom_20">Safety in <br>numbers.</h2>
          <p>Bulk options to save you time and money while reducing your carbon footprint.</p>
        </div>
      </div>
      <div class="column_7" style="float:right;">
        <img class="desktop-difference" src="https://cdn.shopify.com/s/files/1/0838/7991/files/numbers.jpg?50278" alt="" class="fullSize"/>
      </div>
      <div class="difference-words column_5 margin-left-50">
        <h2 class="margin_top_70 margin_bottom_20">Safety in <br>numbers.</h2>
        <p>Bulk options to save you time and money while reducing your carbon footprint.</p>
    	<a style="margin-top:25px;" href="/collections/all-products" data-label="home-shop" class="shop-now-link">Shop Now</a>
      </div>
      <div class="clear margin_bottom_70"></div>
    </div>
  </div>

  <div id="select-partners">
    <p>Select partners:</p>
    <img class="desktop-partners" src="https://cdn.shopify.com/s/files/1/0838/7991/files/select-partners.jpg?50285" />
    <img class="mobile-partners" src="https://cdn.shopify.com/s/files/1/0838/7991/files/select-partners_f01b8e50-a25a-4baf-8e76-456b94eb185f.jpg?50798" />
  </div>

  <div class="b2b-quote-section">
    <div class="b2b-quote-content">
      <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/stars_05f9f9b5-b913-447a-830f-e18b29acfc67.png?41332" />
      <p class="b2b-quote">“Damn. Public Goods has saved my life and made my business pop! Peace out U-line!”</p>
      <p class="b2b-name">Sally Sales, The Brooklyn Bakery</p>
      <p class="three-dots">...</p>
    </div>
  </div>

  <div class="category-section">
    <p class="shop-by-cat">Shop by category.</p>
    <a href="/collections/personal-care" class="category">Personal care</a>
    <a href="/collections/household" class="category">Household</a>
    <a href="/collections/grocery" class="category">Food</a>
    <a href="/collections/vitamins-and-supplements" class="category">Vitamins</a>
    <a href="/collections/menstrual-care" class="category">Menstrual</a>
  </div>

  <div id="try-us-section">
    <div class="try-us-content">
      <p>As seen in:</p>
      <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/press-quotes_91d094a2-b12d-4230-90c1-ce737eea723d.png?41332" />
    </div>
  </div>


 
  
  <style>
    #mission_hero {
      background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/hero_f2d4973e-97cc-4301-8976-6f091c5b1719.jpg?50285);
/*       background-position-y: 77%; */
/*       padding-top: 350px !important; */
    }
    
/*     #mission_hero .column_12 {
      text-align: center;
      margin-top: -200px;
    } */
    
    .shop-now-link {
      font-family: 'NBH';
      color: #000;
      text-decoration: underline;
    }
    
    .difference-words {
      width: 300px;
    }
    
    .difference-words p {
      font-size: 14px;
      line-height: 20px;
      padding-bottom: 20px;
    }
    
    .margin-left-50 {
      margin-left: 50px;
    }
    
    #select-partners {
      padding: 0 30px;
      text-align: center;
      color: #8c8c8c;
    }
    
    #select-partners p {
      padding-bottom: 50px;
    }
    
    .b2b-quote-section {
      background-color: #f5886b;
      margin: 100px 30px 75px 30px;
    }
    
    .b2b-quote-content {
      width: 400px;
      text-align: center;
      margin: 0 auto;
      color: #fff;
    }
    
    .b2b-quote-content img {
      width: 120px;
      padding-top: 40px;
    }
    
    .b2b-quote {
      padding: 30px 0 15px 0;
      font-family: 'NBH';
    }
    
    .b2b-quote-content .three-dots {
      font-size: 80px;
      padding-bottom: 50px;
    }
    
    .category-section {
      margin-bottom: 75px;
    }
    
    .shop-by-cat {
      border-bottom: 1px solid #f5886b;
      font-family: 'NBH';
      margin: 0 30px; 
      padding-bottom: 8px;
    }
    
    .category {
      border-bottom: 1px solid #f5886b;
      margin: 0 30px; 
      padding: 8px 0;
      display: block;
      color: #000;
      font-size: 18px;
    }
    
    .mobile-difference {
      display: none;
      height: 400px;
      width: 90%;
      margin: 0 auto;
      position: relative;
    }
    
    .mobile-difference img {
      position: absolute;
      left: 0;
      top: 0;
      max-height: 400px;
    }
    
    .mobile-difference-words {
      z-index: 100;
      position: absolute;
      left: 32em;
      top: 100px;
      width: 200px;
      text-align: left;
    }
    
    .mobile-partners {
      display: none;
    }
    
  #try-us-section {
    height: 500px;
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/new-to-public-goods_desktop_e76b7c53-55bd-4971-beda-63c6457658a6.jpg?41332);
    background-position-y: 88%;
    background-size: cover;
  }
  
  .try-us-content {
    padding-top: 100px;
    padding-left: 100px;
  }
  
  #try-us-section img {
    width: 400px;
  }
  
  #try-us-section p {
    padding-top: 40px;
    padding-bottom: 15px;
    color: #aaa;
  }
    
    a.button.inverted  {
      display: none !important;
    }
    
    
    @media (max-width: 950px) {
      #mission_hero {
        background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/b2b_hero.jpg?50490);
        height: 575px;
        padding-top: 150px;
      }
      
      a.home-shop-btn {
        display: none;
      }
      
      a.button.inverted {
        padding: 15px 0 !important;
        width: 100% !important;
        display: block !important;
        margin: 0 !important;
      }
      
      .margin-left-50 {
        margin-left: 20px;
     }
      
      #try-us-section {
        height: 725px;
        background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/new-to-public-goods_mobile_fd3c4f7a-029e-48ba-bdb8-6085903d739c.jpg?41332);
        background-position-y: 39%;
      }
      .try-us-content {
        padding: 60px 0 0 0;
        text-align: center;
      }
      #try-us-section p {
        padding-top: 50px;
      }
    }
    
   @media (max-width: 870px) {
    .column_7, .column_5 {
      float: none !important;
      width: 100%;
      text-align: left !important;
    }
     
    .mobile-difference {
      display: block;
    }
     
    .mobile-difference-left-words {
      left: 50px;
    }
     
    .desktop-difference, .difference-words {
      display: none;
    }
    
    .column_5 h2 {
      margin-top: 40px !important;
    }
     
     .margin-left-50 {
        margin-left: 0px;
     }
     
     .difference_pack h2 {
       line-height: 24px;
	 }
     

  }
    
    @media (max-width: 737px) {
      
     #mission_hero {
        height: 500px;
        background-position-y: 90%;
      }
      
      
      #mission_hero p { 
        line-height: 26px;
        font-size: 18px;
      }
      
     #mission_hero h1 {
      padding-bottom: 0px;
     }
      
      #mission_hero h2 { 
        font-size: 24px;
        letter-spacing: 1px;
      }
      
      .mobile-partners {
        display: block
      }
      
      .desktop-partners {
        display: none;
      }
      
      #try-us-section {
        height: 500px;
        background-position-y: 30%;
      }
      
    }
    
    @media (max-width: 650px) {
      .mobile-difference {
        height: 300px;
      }
      
      .mobile-difference-words {
        left: 27em;
        width: 145px;
      }
      .mobile-difference-left-words {
        left: 4em;
      }
      
      #select-partners {
        padding-top: 52px;
      }
      .b2b-quote {
        width: 210px;
        margin: 0 auto;
	  }
      
      .b2b-quote-content {
	    width: 216px;
      }
      
    }
    
     
    @media (max-width: 550px) {
      #mission_hero {
        height: 400px;
      }
      
      #mission_hero p { 
        line-height: 20px;
        font-size: 14px;
      }
      
      #mission_hero h2 { 
        font-size: 20px;
        letter-spacing: 1px;
      }
      
      #mission_hero .column_6 {
        margin-top: 0;
     }
      
      .mobile-header-words {
        display: block !important;
      }
      
      .desktop-header-words {
        display: none;
      }
      
     #try-us-section {
        height: 500px;
        background-position-y: 30%;
     }
      #try-us-section img {
        width: 300px;
      }
      #try-us-section p {
        padding-top: 30px;
      }
      .try-us-content {
        padding: 30px 0 0 0;
        width: 305px;
        margin: 0 auto;
      }
      
      .mobile-difference-words {
        left: 23em;
        top: 45px;
      }
      
      .mobile-difference-left-words {
        left: 3em;
      }

    .mobile-difference {
      height: 250px;
	}
      
      .mobile-difference img {
        min-height: 300px;
      }
    }
    
  @media (max-width: 475px) {
    
    .mobile-difference-words {
      left: 19em;
      top: 45px;
    }
    
    .mobile-difference-left-words {
      left: 3em;
    }
  }
    
    
  @media (max-width: 450px) {
    #try-us-section {
      background-position-y: 0%;
    }
    
    #try-us-section img {
      width: 250px;
    }
    #mission_hero p {
      line-height: 18px !important;
      font-size: 12px !important;
   }
   .difference_pack h2 {
     line-height: 20px;
     font-size: 14px;
   }
    
    .mobile-difference-words {
      width: 118px;
	}
    
    #select-partners {
      padding: 0 15px;
      padding-top: 40px;
    }
  }
    
  @media (max-width: 400px) {
    
    .mobile-difference-words {
      left: 16em;
    }
    
     .mobile-difference-left-words {
      left: 3em;
    }
    
    #select-partners {
     padding: 0 10px;
     padding-top: 40px;
   }
    
  }
  
  @media (max-width: 375px) {
    #try-us-section {
      height: 450px;
    }
    #mission_hero p {
      line-height: 17px !important;
      font-size: 11px !important;
   }
    .mobile-difference-words {
      left: 13em;
    }
    
    .mobile-difference-left-words {
      left: 2em;
    }
    
    .b2b-quote-section {
      margin: 100px 15px 75px 15px;
	}
    
    .category, .shop-by-cat {
      margin: 0 15px;
    }
  }
  
  @media (max-width: 320px) {
    #try-us-section {
      height: 400px;
    }
  }
    
    
  </style>

<script>
  
       function sticktothebottom() {
        var h = window.innerHeight;
        var window_top = $(window).scrollTop();
        var top = $('#stick-here').offset().top;
        var panelh = $(".free-tote-second-div").height();

        if(h> top || h + window_top > top + 50) {
            $('#stickThis').appendTo('body');
            $('#stickThis').css('position', 'fixed');
            $('#stickThis').css('bottom', '0');
        } else {
            $('#stickThis').appendTo('#stick-here');
            $('#stickThis').css('position', 'relative');
            $('#stickThis').css('bottom', 'auto');
        }
      }

      var w = window.innerWidth
      || document.documentElement.clientWidth
      || document.body.clientWidth;

      var h = window.innerHeight
      || document.documentElement.clientHeight
      || document.body.clientHeight;


      $(function() {
        $(window).scroll(sticktothebottom);
        sticktothebottom();
      });
  
  
</script>
