<!-- Bold: Memberships (page) -->
{% include 'bold_mem_helper' with 'page' %}
<!-- end Bold code -->

<!-- /templates/page.liquid -->
<div id="page_content">
  <div class="career-wrapper">
    <div class="career_hero">
      <div class="row clearfix">
        <div class="column_12 career-top-div">
          <h1>{{ page.title }}</h1>
        </div>
      </div>
    </div>
    <div class="career-middle-div">
      <div class="career-header-text">
        <h3>Wanted: Do-gooders. Innovators. Design geeks.
			Health nuts. If you’re curious and tenacious about
            making the world a better place, let’s talk!</h3>
      </div>
            <div class="career-jobs-section clearfix">
        <div class="jobs-left-side">
          <div>
            <a href="https://jobs.lever.co/publicgoods/00bbb0fb-66eb-49a6-a41a-1c5d5341e896" class="job"> 
              <p class="job-title">Editorial Intern</p>
              <p class="job-info"> Part-time, New York City</p>
              <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/arrow.png?14516275011610780398" class="arrow-img"/>
            </a>
          </div>
<!--           <div>
            <a href="https://jobs.lever.co/publicgoods/43cef7c1-2d36-4a59-9ebd-e08db64d6f4e" class="job">
              <p class="job-title">Logistics Coordinator</p>
              <p class="job-info"> Full-time, New York City</p>
              <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/arrow.png?14516275011610780398" class="arrow-img"/>
            </a>
          </div> -->
          <div>
            <a href="https://jobs.lever.co/publicgoods/7ef201fa-c800-4074-aac3-c612d545b5a1" class="job"> 
              <p class="job-title long-job-title">Social Media/Community Intern</p>
              <p class="job-info"> Full-time, New York City</p>
              <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/arrow.png?14516275011610780398" class="arrow-img"/>
            </a>
          </div>
<!--           <div>
            <a href="https://jobs.lever.co/publicgoods/687aacf3-4919-4e84-b64d-d78ccd13506b" class="job">
              <p class="job-title">SEO &amp Content Specialist</p>
              <p class="job-info">Full-time, New York City</p>
              <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/arrow.png?14516275011610780398" class="arrow-img"/>
            </a>
          </div> -->

        </div>
        <div class="jobs-right-side">
          <div>
            <a href="https://jobs.lever.co/publicgoods/ced1ba9c-3718-42da-a298-9cd218ef829a" class="job">
              <p class="job-title">Director of Sales</p>
              <p class="job-info"> Full-time, New York City</p>
              <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/arrow.png?14516275011610780398" class="arrow-img"/>
            </a>
          </div>
          <div>
            <a href="https://jobs.lever.co/publicgoods/0942d2f5-ceb1-4e9c-83fb-87bce6839b6c" class="job">
              <p class="job-title long-job-title">Performance Marketing Manager</p>
              <p class="job-info">Full-time, New York City</p>
              <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/arrow.png?14516275011610780398" class="arrow-img"/>
            </a>
          </div>
<!--           <div>
            <a href="https://jobs.lever.co/publicgoods/feae7a6e-64e8-4be2-a482-8a0c4c5e0a04" class="job">
              <p class="job-title">HR &amp Office Manager</p>
              <p class="job-info"> Full-time, New York City</p>
              <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/arrow.png?14516275011610780398" class="arrow-img"/>
            </a>
          </div>
           <div class="pg-internship-mobile">
            <a href="https://jobs.lever.co/publicgoods/ea84dc23-6b1f-49be-bd21-ac02a3d4fffc" class="job"> 
              <p class="job-title">The Good Internship</p>
              <p class="job-info">New York City</p>
              <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/arrow.png?14516275011610780398" class="arrow-img"/>
            </a>
          </div> -->
        </div>
      </div>
      <div style="clear: both; padding-top: 30px;" class="career-extra-info">
        <p>Public Goods provides equal employment opportunities (EEO) to all employees and applicants
		   for employment without regard to race, color, religion, sex, national origin, age, disability,
		   genetics, sexual orientation, gender identity or gender expression.</p>
      </div>
     </div>
     <div class="career-bottom-div">
       <div class="career-bottom-content">
         <div class="career-bottom-header cbc ">
           <h3>Don’t see what you’re looking for?</h3>
         </div>
         <div class="career-bottom-info cbc">
           <p>Send us your resume if you’d love to work at Public Goods.</p>
         </div>
         <div class="career-bottom-button cbc">
           <a href="https://jobs.lever.co/publicgoods/259531ea-c5f7-4073-8a2f-6b792af5a413">Drop Us A Line</a>
         </div>
       </div>
     </div>
  </div>
</div>

<style>
  .career_wrapper {
    height: 100%;
  }
  .career_hero {
    background-image: url("https://cdn.shopify.com/s/files/1/0838/7991/files/careers_header.jpg?3047769160939112154");
    background-size: cover;
    background-position: bottom right;
  }
  .career-top-div {
    width: 100%;
    height: 500px;
    position: relative;
    background-size: cover;
  }
  .career-middle-div {
    width: 100%;
    height: 35%;
    position: relative;
    text-align: -webkit-center;
    text-align: -moz-center;
    margin-top: 100px;
  }
  .career-bottom-div {
    width: 100%;
    height: 300px;
    position: relative;
    text-align: -webkit-center;
    text-align: -moz-center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .career-top-div h1 {
    padding-top: 400px;
    color: #fff;
    left: 0;
    top: 0;
    font-size: 42px;
  }
  .career-header-text {
    width: 60%;
    text-align: center;  
  }
  .career-header-text h3 {
    font-size: 30px;
    line-height: 35px;
  }
  .career-jobs-section {
    width: 60%;
    margin-top: 50px;
  }
  .jobs-left-side {
    float: left;
  }
  .jobs-right-side {
    float: right;
  }
  .job {
    margin-top: 40px;
    text-align: left;
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap;
    height: 80px;
    color: #000;
  }
  .job-title {
    font-size: 18px;
    height: 25px;
    width: 250px;
  }
  .long-job-title {
	height: 50px;
  }
  .job-info {
    font-size: 14px;
  }
  .career-extra-info {
    width: 60%;
    margin-top: 50px;
    text-align: left;
  }
  .career-extra-info p {
    font-size: 14px;
    line-height: 18px;
  }
  .career-bottom-content {
    width: 70%;
    position: relative;
    background-color: #dc886c;
    height: 100%;
  }
  .career-bottom-header {
    padding-top: 60px;
    width: 80%;
  }
  .career-bottom-header h3 {
    color: #fff;
    font-size: 30px;
  }
  .career-bottom-info {
    padding-top: 40px;
    padding-bottom: 50px;
    width: 80%;
  }
  .career-bottom-info p {
    color: #fff;
  }
  .career-bottom-button a {
    color: #dc886c;
    background-color: #fff;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'NBH';
  }
  .arrow-img {
    width: 30px;
  }
/*   .pg-internship-mobile {
    display: none;
  } */
  
  @media (max-width: 1400px) {
    .career-top-div h1 {
      padding-left: 100px;
    }
  }
  
  @media (max-width: 1000px) {
    .career-header-text h3 {
      font-size: 24px;
      line-height: 32px;
    }
    .career-bottom-header h3 {
      font-size: 24px;
    }
    .career-top-div {
      text-align: center;
    }
    .career-top-div h1 {
      padding-left: 0;
    }
     .jobs-left-side {
      float: none;
    }
    .jobs-right-side {
      float: none;
    }
    .career-header-text {
      text-align: left;
    }
    .pg-internship-mobile {
      display: block;
    }
    .pg-internship-desktop {
      display: none;
    }
  }
  
  @media (max-width: 790px) {
    .career-bottom-info p {
	  font-size: 18px;
      line-height: 26px;
    }
    .career-bottom-header h3 {
      line-height: 30px;
    }
    .career-bottom-header {
      padding-top: 35px;
    }
    .long-job-title {
      line-height: 24px;
    }
  }
  
  @media (max-width: 650px) {
    .career-extra-info {
      width: 80%;
    }
    .career-jobs-section {
      width: 80%;
    }
    .career-header-text {
      width: 80%;
    }
    .career-bottom-content {
      width: 80%;
    }
    .career-top-div {
      height: 300px;
    }
    .career-top-div h1 {
      padding-top: 240px;
    }
  }
  
  @media (max-width: 475px) {
    .career-header-text h3 {
      font-size: 18px;
      line-height: 24px;
    }
    .career-top-div h1 {
      font-size: 32px;
    }
    #forMenu {
      height: 0;
    }
  }
  
  @media (max-width: 382px) {
    .career-bottom-div {
      height: 350px;
    }
    
  }
  
  @media (max-width: 325px) {
   .career-bottom-header h3 {
     font-size: 20px;
     line-height: 26px;
    }
    .job-title {
      width: 225px;
    }
    .long-mobile {
      height: 45px;
    }
  }
</style>