{% layout 'theme.black-friday' %}
<!-- Bold: Memberships (page) -->
{% include 'bold_mem_helper' with 'page' %}
<!-- end Bold code -->

<!-- /templates/page.liquid -->
<div class="bf-wrapper">
  <div class="copy-exp-landing1-main bf-main" style="height:33%; padding-top: 63%;" >
    <div class="row clearfix">
      <div class="column_12" >
        <div>
          <div class="copy-exp-main-words">
            <h2 class="without-padding">LIFETIME MEMBERSHIPS - ONLY $99<h2>
            <div class="black-friday-words-div">
              <p class="black-friday-words 99-lifetime-words">A lifetime of savings for a one-time fee.</p>
            </div>
          </div>
          <div class="copy-exp-buttons">
            <a style="background-color: #EB8364; color: white; font-size: 16px;" class="subscribe-to-membership-43-56 subscribe-to-membership home-shop-btn membuttonclick margin_top_30 button inverted button-cta">Join Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="black-friday-bottom-section" style="background-color: rgb(220, 136, 108)" >
    <div class="black-friday-reviews">
      <div class="cyberm-mission">
        <p class="bf-review-words" style="color:white; padding-top:50px;">Healthy products. <br>Honest prices.</p>
        <p class="bf-review-name" style="color:white; margin-top:40px;">Healthy products don’t actually cost a lot
        to make. It’s traditional retail that’s out
        of date. But we’re changing the supply
        chain: get a whole year of access to our
        wide range of healthy, premium products
        for half price now.</p>
      </div>
      <div class="bf-bottom-button">
        <a style="background-color: #fff; color: #EB8364; margin-top:60px; font-size: 16px;" href="/collections/all-products" target="_blank"  class="cyber-button home-shop-btn margin_top_30 button inverted button-cta">Browse Products</a>
      </div>
    </div>
  </div>
</div>


<style>
  
  .copy-exp-landing1-main {
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/heronew-1.jpg?7790729817189002504);
  }
  .black-friday-words-div {
    position: relative;
    width: 450px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }
  .copy-exp-landing1-subsection {
    width: 600px;
    margin: 0 auto;
    padding-bottom: 100px;
    margin-top: 100px;
  }
  .copy-exp-main-words {
    margin-bottom: 55px;
    margin-top: 75px;
  }
  .black-friday-words {
    font-size: 36px;
    font-family: 'NBH';
    line-height: 45px;
  }
  
  .black-friday-bottom-section {
    width: 90%;
    height: 500px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 0px;
  }
  
  .black-friday-reviews {
    text-align: center;
     width:75%;
    margin: auto;
  }
  
  .cyberm-mission {
    margin-top: 40px;
  }
  .bf-review-words {
    font-size: 36px;
    font-family: 'NBH';
    width: 500px;
    line-height: 40px;
    margin: auto;
  }
  
  .bf-review-name {
    line-height: 34px;
    font-size: 28px;
    width: 700px;
    margin: auto;
  }

  
  @media (max-width: 900px) {
	.copy-exp-landing1-main {
      background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/heronew-1.jpg?7790729817189002504);
      height: 400px !important;
      background-size: center;
      padding-top: inherit;
      padding-bottom: inherit;
      background-position: top right;
      background-size: cover;
    }
    
    .bf-review-name {
      width: 100%
    }
    
    .black-friday-bottom-section {
      margin-top: 0px;
    }
    
    .copy-exp-subsection-header p {
      line-height: 30px;
    }
  }
  
  @media (max-width: 800px) {
    .cyber-button {
      margin-top: 10% !important;
    }
  }
  
  @media (max-width: 725px) {
    .cyber-button {
      margin-top: 10% !important;
    }
    
  .bf-review-name {
    font-size: 20px;
  }
    
  .copy-exp-landing1-main {
    background-position-x: 65%;
  }
}
  
  @media (max-width: 675px) {
   .bf-review-words {
        width: 100%;
    }
  
}
  
   @media (max-width: 600px) {
   .bf-review-words {
     font-size: 28px;
   }
   .copy-exp-landing1-main .home-shop-btn {
     padding: 15px 60px 15px 60px !important;
     font-size: 16px !important;
   }
   .copy-exp-landing1-subsection {
     width: 100%;
   }
/*    .black-friday-bottom-section {
     height: 450px;
   } */
}
  
  @media (max-width: 475px) {
    .copy-exp-buttons {
      margin-top: 90%;
    }
    
	.black-friday-words-div {
      width: 100%;
    }
    
    .bf-review-name {
      font-size: 16px;
    }
    
    .black-friday-words-div {
      width: 95%;
    }
  }
  
  @media (max-width: 465px) {
	.bf-review-words {
      font-size: 24px;
      line-height: 32px;
    }
    .bf-review-name {
      line-height: 24px;
    }
    .bf-bottom-button {
      margin-top: 40px !important;
    }
  }
  
  @media (max-width: 425px) {
    .copy-exp-landing1-main .home-shop-btn {
      padding: 15px 20px 15px 20px !important; 
    }
    
    .copy-exp-landing1-main .copy-exp-buttons {
      margin-top: 108%;
    }
    
    .copy-exp-landing1-main .column_12 p {
      font-size: 26px;
      line-height: 30px;
    }
    
    .black-friday-reviews {
      width: 85%;
    }
  }
  
  @media (max-width: 400px) {
    .copy-exp-landing1-main .copy-exp-buttons {
      margin-top: 0;
    }
  }
  
  @media (max-width: 365px) {
    .without-padding {
      margin-top: 25px !important;
    }
    
    .black-friday-words-div {
      margin-top: 25px !important;
    }
    
    .copy-exp-landing1-main .column_12 p {

    margin-top: 20px;
}
  }
  
  @media(max-width: 345px) {
  
  .bf-review-words {
    font-size: 20px;
    line-height: 24px;
  }
    
   .copy-exp-main-words {
      margin-bottom: 55px;
      margin-top: 55px;
    }
}
  
  @media (max-width: 310px) {
 	.copy-exp-landing1-main .home-shop-btn {
      padding: 15px 10px 15px 10px !important;
    }   
     .copy-exp-buttons {
      margin-top: 0 !important;
    }
    
    .copy-exp-main-words {
      margin-bottom: 25px;
    }
  }

</style>
<script>
  $(function(){
     function setCookie(name, value, options) {
      options = options || {};

      var expires = options.expires;

      if (typeof expires == "number" && expires) {
        var d = new Date();
        d.setTime(d.getTime() + expires * 1000);
        expires = options.expires = d;
      }
      if (expires && expires.toUTCString) {
        options.expires = expires.toUTCString();
      }

      value = encodeURIComponent(value);

      var updatedCookie = name + "=" + value;

      for (var propName in options) {
        updatedCookie += "; " + propName;
        var propValue = options[propName];
        if (propValue !== true) {
          updatedCookie += "=" + propValue;
        }
      }

      document.cookie = updatedCookie;
    }
    
    setCookie('is_cyber_monday', true, { expires: 24*3600, path: '/' })
  })
</script>