{% layout 'theme.minified' %}

<div id="membership_success">
  <div class="grid--full">
    <div id="textSection" class=" grid__item large--one-half medium--one-whole small--one-whole">
      <!--<h2 class="margin_bottom_30">Why Membership?</h2>
      <h1>It’s simple: Become a member and never overpay for healthy products again</h1>!-->
		
      <h2 class="padding-custom-60 margin_bottom_20 margin_top_50">THANKS!</h2>
      <h1 class="padding-custom-60 margin_bottom_60">You're one step closer to astounding savings. We'll be hitting your inbox with exciting updates.</h1>        
      <br><br><p class="padding-custom-60 margin_bottom_20">  </p> 
      
    </div>
    <div class="membership_right grid__item large--one-half medium--one-whole small--one-whole">
      <div class="cover-fix"></div>
    </div>
  </div>    

</div>

