{% layout 'theme.alt' %}

<div id="membership_hero">
  <div class="row clearfix">
    <div class="column_5">
      <h2>GET IN PRE-LAUNCH</h2>
      <h1>Well someone got lucky.</h1>
      <p>Someone shared this link, which means you’re in luck. We’re launching soon. <b>But for two weeks only we’re offering early annual memberships for $39 (versus $59 at launch).</b></p>
      <p class="desktopSpace">Sign up today, and we’ll never raise that price on you.</p>
      <a class="button inverted joinBtn">Join Today</a>
      <p class="small"><a class="link" href="http://publicgoods.com/kickstarter">Watch our Kickstarter campaign</a> with 10,000+ backers to learn more.</p>
    </div>
  </div>
</div>
<div id="page_content">
  <div class="row">
    <div class="">
      <h2 class="text_center margin_bottom_50">The Public Goods Promise</h2>
      <div class="columnsFlex">
        <div class="column_flex text_center">
          <img src="{{ 'star.png' | asset_url }}" alt=""/>
          <h3 class="margin_top_20 margin_bottom_10">Premium Products At Cost</h3>
          <p>We create healthy premium products—starting with bathroom essentials—and then sell them to members with zero markup.</p>
        </div>
        <div class="column_flex text_center">
          <img src="{{ 'animal.png' | asset_url }}" alt=""/>
          <h3 class="margin_top_20 margin_bottom_10">Astounding Savings</h3>
          <p>We've done the math, and you'll save as much as $70 a month - just with our personal care products.</p>
        </div>
        <div class="column_flex text_center">
          <img src="{{ 'calendar.png' | asset_url }}" alt=""/>
          <h3 class="margin_top_20 margin_bottom_10">New Goods Every Month</h3>
          <p>We’re already developing toxin-free household cleaners, baby products and organic cotton linens. The more we add, the more you save.</p>
        </div>
      </div>
      <div class="text_center margin_top_50 margin_bottom_70"><a class="button inverted joinBtn">Join Today</a></div>
    </div>
  </div>

  <div class="row margin_bottom_50">
    <div class="column_12">
      <img src="{{ 'ref.jpg' | asset_url }}" alt=""/>
    </div>
  </div>
</div> <!-- Page Content End !-->