{% layout 'theme.black-friday' %}
<!-- Bold: Memberships (page) -->
{% include 'bold_mem_helper' with 'page' %}
<!-- end Bold code -->

<!-- /templates/page.liquid -->
<div class="bf-wrapper">
  <div class="copy-exp-landing1-main bf-main" style="height:33%; padding-top: 63%;" >
    <div class="row clearfix">
      <div class="column_12" >
        <div>
          <div class="copy-exp-main-words">
            <p class="without-padding">Once in a lifetime.</p>
            <div class="black-friday-words-div">
              <p class="black-friday-words">Today only, lifetime memberships are available for only $99. A lifetime of saving for a low, one-time fee.</p>
            </div>
          </div>
          <div class="copy-exp-buttons">
            <a href="/collections/all-products" style="background-color: #EB8364; color: white;" class="home-shop-btn">Browse Products</a>
            <a style="background-color: #EB8364; color: white;" class="subscribe-to-membership-43-56 subscribe-to-membership home-shop-btn membuttonclick margin_top_30 button inverted button-cta">Start Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="black-friday-bottom-section" style="background-image:url(https://cdn.shopify.com/s/files/1/0838/7991/files/mountains.jpg?16231655409331117326)" >
    <div class="black-friday-reviews">
      <div class="cyberm-mission">
        <p class="bf-review-words" style="color:white; padding-top:40px;">Our mission is to make healthy products affordable to everyone.</p>
        <p class="bf-review-name" style="color:white; margin-top:40px;">How we do it is simple. We sell our own brand of
premium, healthy products, with no traditional retail
mark-ups or middlemen. Instead of making money by
raising prices, we charge a small membership fee.
Members have access to our wide range of high-end
home goods and new products launch all the time.</p>
      </div>
      <div class="bf-bottom-button">
        <a style="background-color: #EB8364; color: #fff; margin-top:80px;"  class="subscribe-to-membership-43-56 subscribe-to-membership cyber-button home-shop-btn membuttonclick margin_top_30 button inverted button-cta">Start Now</a>
      </div>
    </div>
  </div>

  <div class="copy-exp-landing1-subsection" style="height:33% !important" >
    <div class"row clearfix">
      <div class="column_12">
        <div class="copy-exp-subsection-header">
          <p>"Public Goods wants to bring a new model to healthy, affordable everyday basics that are packaged in natural and recycled materials.” </p>
        </div>
      </div>
      <div class="copy-exp-subsection-body">
          <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/forbes.png?10384084351562429956" alt='Forbes'/>
        </div>
    </div>
  </div>
</div>


<style>
  
  .black-friday-words-div {
    position: relative;
    width: 450px;
    text-align: center;
    margin: 0 auto;
  }
  .copy-exp-landing1-subsection {
    width: 600px;
    margin: 0 auto;
    padding-bottom: 100px;
    margin-top: 100px;
  }
  
  .black-friday-words {
    position: relative;
    font-size: 24px !important;
    font-family: 'NB' !important;
    line-height: 28px !important;
    margin-top: 50px;
  }
  
  .black-friday-bottom-section {
    width: 90%;
    height: 600px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: -50px;
  }
  
  .black-friday-reviews {
    text-align: center;
     width:75%;
    margin: auto;
  }
  
  .cyberm-mission {
    margin-top: 40px;
  }
  .bf-review-words {
    font-size: 36px;
    font-family: 'NBH';
    width: 500px;
    line-height: 40px;
    margin: auto;
  }
  
  .bf-review-name {
    line-height: 30px;
    font-size: 28px;
    width: 700px;
    margin: auto;
  }
  
   @media (max-width: 900px) {
	.bf-review-name {
      width: 100%
    }
  }
  
  @media (max-width: 900px) {
	.copy-exp-landing1-main {
      background-image: url('https://cdn.shopify.com/s/files/1/0838/7991/files/hero_mobile_900x1000_84ab331c-17ea-4c6a-92da-7f3428ebad05.jpg?4656028235644496529');
      height: 400px !important;
      background-size: center;
      padding-top: inherit;
      padding-bottom: inherit;
      background-position: top;
      background-size: cover;
    }
    
    .black-friday-bottom-section {
      margin-top: 0px;
    }
    
    .copy-exp-subsection-header p {
      line-height: 30px;
    }
  }
  
  @media (max-width: 800px) {
    .cyber-button {
      margin-top: 10% !important;
    }
  }
  
  @media (max-width: 725px) {
    .cyber-button {
      margin-top: 10% !important;
    }
    
  .bf-review-name {
    font-size: 24px;
  }
}
  
  @media (max-width: 675px) {
   .bf-review-words {
        width: 100%;
    }
  
}
  
   @media (max-width: 600px) {
   .bf-review-words {
    font-size: 28px;
  }
    
  .bf-review-name {
    font-size: 16px;
  }
   .copy-exp-landing1-subsection {
     width: 100%;
   }
}
  
  @media (max-width: 475px) {
    .copy-exp-buttons {
      margin-top: 70%;
    }
    
	.black-friday-words-div {
      width: 100%;
    }
  }
  
  @media (max-width: 465px) {
	.bf-review-words {
      font-size: 24px;
      line-height: 32px;
    }
    .bf-review-name {
      line-height: 24px;
    }
  }
  
  @media (max-width: 425px) {
   
    
    .copy-exp-landing1-main .copy-exp-buttons {
    margin-top: 80%;
}
    
     .copy-exp-buttons {
      margin-top: 70%;
    }
  }
  
  @media (max-width: 365px) {
    .without-padding {
      margin-top: 25px !important;
    }
    
    .black-friday-words-div {
      margin-top: 25px !important;
    }
    
    .copy-exp-landing1-main .column_12 p {

    margin-top: 20px;
}
  }
  
  @media(max-width: 345px) {
  
  .bf-review-words {
    font-size: 16px;
    line-height: 24px;
  }
}
  
  @media (max-width: 310px) {
 
    
     .copy-exp-buttons {
      margin-top: 60% !important;
    }
  }

</style>
<script>
  $(function(){
     function setCookie(name, value, options) {
      options = options || {};

      var expires = options.expires;

      if (typeof expires == "number" && expires) {
        var d = new Date();
        d.setTime(d.getTime() + expires * 1000);
        expires = options.expires = d;
      }
      if (expires && expires.toUTCString) {
        options.expires = expires.toUTCString();
      }

      value = encodeURIComponent(value);

      var updatedCookie = name + "=" + value;

      for (var propName in options) {
        updatedCookie += "; " + propName;
        var propValue = options[propName];
        if (propValue !== true) {
          updatedCookie += "=" + propValue;
        }
      }

      document.cookie = updatedCookie;
    }
    
    setCookie('is_cyber_monday', true, { expires: 24*3600, path: '/' })
  })
</script>