<!-- /templates/page.liquid -->

<!--<style type="text/css">@import url("https://mem.boldapps.net/app_assets/css/bs-modal-only.min.css");</style>!-->

<!--<style type="text/css">@import url("https://shappify-cdn.com/mem/morgansdev.myshopify.com-widget-style.css");</style>!-->

<div id="membership_success">
  <div class="grid--full">
    <div class=" grid__item large--one-half medium--one-whole small--one-whole">
      <!--<h2 class="margin_bottom_30">Why Membership?</h2>
      <h1>It’s simple: Become a member and never overpay for healthy products again</h1>!-->

      <h2 class="padding-custom-60 margin_bottom_60 margin_top_70">THANK YOU FOR BEING SO GENEROUS!</h2>
      <h1 class="padding-custom-60 margin_bottom_60">Remember to tell your friend that we’ll be sending an account activation email in the next week.</h1>      
      <p class="padding-custom-60">PSST — if your friend adds service@publicgoods.com to their email contacts, the email will not end in the spam folder!</p>  
      <br><br><p class="padding-custom-60 margin_bottom_20">  </p> 
      
    </div>
    <div class="membership_right grid__item large--one-half medium--one-whole small--one-whole">
      <div class="cover-fix"></div>
    </div>
  </div>    

</div>
