
<div id="ten-off-container">
<!--    <div id="stick-here" class="stick-here"></div> -->
  <div id="mission_hero">
    <div class="row clearfix">
      <div class="column_6">
         <h1 class="margin_bottom_50">Shop smart.</h1>
        <p class="margin_bottom_50 without-padding ten-off-hero-words">Discover our healthy, sustainable, affordable
                                                    <br>essentials—delivered right to your door.
                                                    <br><br>Enter your email for $10 off your first order.</p>
        
        <div id="hero-buttons" class="email-dt">
          <input type="email" class="ten-off-email" id="ten-off-email1" name="email" placeholder="Enter email."/>
          <button type="submit" class="submit-form">Get $10 Off</button>
        </div>

      </div>
    </div>
  </div>
  
     <div id="hero-buttons" class="stickThis free-tote-second-div" style="width: 100%">
          <input type="email" class="ten-off-email" id="ten-off-email1" name="email" placeholder="Enter email."/>
          <button type="submit" class="submit-form">Get $10 Off</button>
        </div>
  

  
  <div id="ten-off-middle">
    <div id="ten-off-middle-content">
      <h1 class="ten-middle-mobile-header">Get <span class="orange">$10 off</span> your first order.</h1>
      <div id="ten-middle-left">
        <img id="ten-dt-img" src="https://cdn.shopify.com/s/files/1/0838/7991/files/cabinet_desktop.jpg?54147" />
      </div>
      <div id="ten-middle-right">
        <div id="ten-right-content">
          <h1 class="ten-middle-dt-header">Get <span class="orange">$10 off</span> your first order.</h1>
          <div id="ten-reviews">
            <div class="ten-review">
              <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/starz_1.png?54242" />
              <p class="ten-review-review">“Imagine all the benefits you like of top natural brands without all the BS. To me, that’s Public Goods.”</p>
              <p>—Garry, Iowa City</p>
            </div>
            <div class="ten-review">
              <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/starz_1.png?54242" />
              <p class="ten-review-review">“Super high quality, much less expensive products.”</p>
              <p>—Karen, Chicago</p>
            </div>
            <div class="ten-review">
              <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/starz_1.png?54242" />
              <p class="ten-review-review">“All natural. I don’t have to worry what is going into my family’s body. Great price. Love the packaging.”</p>
              <p>—Elizabeth, Denham Springs, LA</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="ten-off-bottom">
    <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/as_seen_in_mobile.jpg?54505" />
    <div id="email-content">
      <input type="email" id="ten-off-email2" class="ten-off-email" name="email" placeholder="Enter email."/>
      <button type="submit" class="submit-form">Get $10 Off</button>
    </div>
  </div>
  
</div>

<style>
  
    .stick-here {
      height: 50px;
    }
  
  .stickThis {
    display: none;
  }
  
  #mission_hero {
    background-image: url('https://cdn.shopify.com/s/files/1/0838/7991/files/desktop_banner_648bc977-e4ce-46fb-a316-9a9b012ba6b6.jpg?54269') !important;
    background-position-y: 0px !important;
  }
  
  .orange {
    color: #f5886b;
    font-family: 'NBH';
  }
  
  #ten-off-middle-content {
    padding: 50px;
    display: flex;
  }
  
  .ten-middle-mobile-header {
    display: none;
  }
   
  #ten-middle-left {
    width: 55%; 
    
  }
  
  #ten-middle-right {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    padding-left: 25px;
  }
  
  #ten-dt-img {
    width: 750px !important;
  }
  
  #ten-right-content {
/*     width: 500px; */
  }
  
  .ten-review img {
    width: 115px;
  }
  
  #ten-off-bottom {
    height: 800px;
    background-image: url('https://cdn.shopify.com/s/files/1/0838/7991/files/as_seen_in_desktop.jpg?54147');
    background-size: cover;
    background-position: top;
  }
  
  #ten-off-middle p {
    font-size: 16px;
    line-height: 22px;
  }
  
  #ten-right-content h1 {
    padding: 25px 0;
  }
  
  #ten-reviews {
    width: 400px;
    margin: 0 auto;
  }
  
  .ten-review {
    padding: 15px 0;
  }
  
  .ten-review-review {
    padding: 10px 0;
  }
  
  #email-content {
    text-align: center;
    padding-top: 300px;
  }
  
  .submit-form {
    background-color: #f5886b;
    color: #fff;
    height: 46px;
    width: 140px;
    font-family: 'NBH';
    margin-left: -4px;
    font-size: 16px;
  }
  
  .submit-form:hover {
    opacity: .90;
    -webkit-transition: font-size 0.3s, opacity 0.3s;
  }
  
  .ten-off-email {
    height: 44px;
    border: 1px solid #f5886b;
    margin-top: 7px;
    width: 185px;
    padding-left: 5px;
/*     line-height: .5; */
    font-size: 16px;
  }
  
  #ten-off-bottom img {
    display: none;
  }
  
  @media (min-width: 1950px) {
    #email-content {
      padding-top: 400px;
    }
  }
  
  @media (min-width: 1750px) {
    #mission_hero {
      padding-top: 280px;
    }
  }
  
  @media (max-width: 1500px) {
    #mission_hero {
      background-position-y: 35px !important;
    }
  }
  
  @media (max-width: 1180px) {
    #ten-off-middle-content {
      padding: 30px;
    }
    
    #ten-right-content h1 {
      font-size: 30px;
      padding: 0;
    }
  }
  
  @media (max-width: 1050px) {
    #mission_hero {
      background-position-x: 67% !important;
    }
  }
  
  @media (max-width: 950px) {
    #mission_hero {
      background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/tablet_banner.jpg?54382) !important;
      background-position-x: 86% !important;
      background-position-y: 35% !important;
      height: 850px;
    }
    
    .ten-off-hero-words {
      padding-top: 535px;
    }
    
    .ten-middle-mobile-header {
      display: block;
      text-align: center;
      padding-bottom: 40px;
    }
    
    .ten-middle-dt-header {
      display: none;
    }
    
    #ten-off-middle-content {
      flex-direction: column;
      padding: 40px 20px;
    }
    
    #ten-middle-left {
      width: 75%;
      margin: 0 auto;
    }
    
    #ten-middle-right {
      margin-top: 40px;
      width: 100%;
      padding: 0;
    }
    
  }
  
  @media (max-width: 737px) {
    #mission_hero {
      height: 700px;
      background-position-y: 40% !important;
    }
    
    
    .ten-off-hero-words {
      padding-top: 75px;
      margin-bottom: 25px;
    }
    
    #email-content {
      display: none;
    }
    
    #ten-off-bottom {
      height: 100%;
    }
    
    #ten-off-bottom img {
      display: block;
      width: 100%;
      height: 100%;
    }
    
    .submit-form {
      width: 28.6%;
    }
    
    .ten-off-email {
      width: 70%;
    }
    
    .stickThis {
      display: block;
      position: fixed
    }
    
    .email-dt {
      display: none;
    }
    
    
  }
  
  @media (max-width: 550px) {
    #mission_hero {
      height: 650px;
      background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/p1tSuutk.jpeg?54382) !important;
    }
    
    .ten-off-hero-words {
      padding-top: 50px;
    }
    
    #ten-off-middle-content {
      padding: 40px 0;
    }
    
    #ten-middle-left {
      width: 90%
    }
    
    #ten-off-middle p {
      font-size: 13px;
      line-height: 19px;
    }
    
    #ten-right-content {
      width: 90%;
      margin: 0 auto;
    }
    
    #ten-reviews {
      width: 100%;
    }
  }
  
    @media (max-width: 460px) {
    #mission_hero {
      height: 550px;
      background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/p1tSuutk.jpeg?54382) !important;
    }
    
    .ten-off-hero-words {
      padding-top: 25px;
    }
  }
  
  @media (max-width: 435px) {
    .ten-off-email {
      width: 69.5%;
    }
  }

  
  @media (max-width: 365px) {
    #mission_hero {
      height: 450px;
    }
    
    #mission_hero h1 {
      padding-bottom: 275px;
    }
    
    .ten-off-hero-words {
      padding-top: 0px;
    }
    
  }
  
  @media (max-width: 325px) {
    #mission_hero p {
      font-size: 12px !important;
      line-height: 18px !important;
 	}
    
    .ten-off-email {
      width: 69.2%;
    }
  }
  
      .stick {
      margin-top: 0;
      position: fixed;
      top: 67px;
      z-index: 99;
      left: 45%;
      transform: translate(-50%, 0);
      background-color: #eaeaea;
      width: 100%;
      text-align: left;
      padding: 5px 0;
      padding-left: 195px;
    }

  
</style>

<script>
 
  
  $(".submit-form").click(function() {
    let emailText3;
  
    if ($("#ten-off-email1").val() === "") {
      emailText3 = $("#ten-off-email2").val()
    } else {
      emailText3 = $("#ten-off-email1").val()
    }
  
    _dcq.push(
      [
        "subscribe",
        {
          campaign_id: "220285039",
          fields: {
            email: emailText3
          },
          success: function(response) {
             sessionStorage.setItem('pg10Off', 'true');
             console.log(emailText3)
             window.location.href= 'https://www.publicgoods.com/discount/healthy19?redirect=%2Fcollections%2Fall-products'
          },
          failure: function(response) {
            alert("There was a problem submitting your response. Please contact customer service, thank you.")
          }
        }
      ]
    );
    
  })

  

    
        $('.stickThis').appendTo('body');
        $('.stickThis').css('position', 'fixed');
     	$('.stickThis').css('bottom', '0');



  
  
</script>