<!-- Bold: Memberships (page) -->
{% include 'bold_mem_helper' with 'page' %}
<!-- end Bold code -->

<!-- /templates/page.liquid -->


<div id="page_content" style=background color:#fff;>
  <div class="row clearfix">
  	<div class="column_12 free-tote-top-div">
      <div class="free-tote-image" style="display:none;">
		<img src="https://cdn.shopify.com/s/files/1/0838/7991/files/tote_bag.png?292210639846114712" />
      </div>
        <div class="ft-top-div-words">
        <h2 class="margin_bottom_50">Free Organic Tote</h2>
        <h1 class="margin_bottom_50 without-padding">Healthy can be<br>easy as 1, 2, 3.</h1>
        <div class="deodorant-thumbnail-mobile">
          <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/tote_bag.png?292210639846114712" />
        </div>
        <p class="tote-directions">1. Make a free trial account.</p>
        <p class="tote-directions">2. Add our reusable Cotton Tote Bag with your order.</p>
        <p class="tote-directions">3. Enter code ‘Simplify’ at checkout to get it free.</p>
        <a href="#" class="ft-signup-btn subscribe-to-membership-45-58 subscribe-to-membership membuttonclick" style="display:none">Get Your Gift — Start Free Trial</a>
      </div>
    </div>
    <div id="stickThis" class="free-tote-second-div" style="width: 100%">
      <a href="#" class="subscribe-to-membership-45-58 subscribe-to-membership membuttonclick" style="color:#fff"><h3>Get Your Gift — Start Free Trial</h3></a>
    </div>
    <div id="stick-here" class="stick-here"></div>
    <div class="column_12 free-tote-third-div"></div>
    <div class="column_12 free-tote-review-section">
      <div class="free-tote-reviews">
        <h1>Why we love the tote.</h1>
        <div class="free-tote-review">
          <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/starz3.png?14175916445677503279" alt="reviews"/>
          <p class="ft-review-words">“It’s perfect for shopping, going to the gym, or even an overnight trip.”</p>
          <p class="ft-review-name">- Nosipho M.</p>
        </div>
        <div class="free-tote-review">
          <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/starz3.png?14175916445677503279" alt="reviews"/>
          <p class="ft-review-words">“Wonderful bag... Everything about it is top-notch.“</p>
          <p class="ft-review-name">- Spencer W.</p>
        </div>
      </div>
    </div>
    <div class="free-tote-product-carousel">
      <p>Healthy. Affordable. Eco-Friendly.<br>It’s all good.</p>
      <div class="powr-image-slider" id="ab348c59_1547667152"></div>
      <div class="ft-member-favorites row" id="mission_top_text" style="display:none">{% section 'member-favorites' %}</div>
    </div>
    <div class="free-tote-publications">
      <div class="ft-pub-top">
      	<div class="ft-publication">
          <p>“Public Goods takes the guesswork out of simple, easy-to- use grooming and bathroom products.”</p>
          <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/daily-beast.png?16842974685795887946" />
        </div>
        <div class="ft-publication" style="float:right">
          <p>“Household items aren’t marked up. (You pay only the amount it costs to produce the items.)”</p>
          <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/buzzfeed.png?16842974685795887946" />
        </div>
      </div>
      <div class="ft-pub-bottom">
        <div class="ft-publication">
          <p>“Better quality everyday products in biodegradable or recycled packaging.”</p>
          <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/forbes_09623cdb-cbcc-4ab2-9c02-4f6c53c66e78.png?16842974685795887946" />
        </div>
        <div class="ft-publication" style="float:right">
          <p>“Products are all natural from the ingredients to the physical bottles. A must have...”</p>
          <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/teenvogue.png?16842974685795887946" />
        </div>
      </div>
  </div>
</div>

<script>
</script>
         
<style>
  .stick-here {
      height: 50px;
    }
  .is-moved-by-drawer {
    background-color: #EFEFEF;
  }
  .row {
    width: 1500px;
  }
  .free-tote-top-div {
    background-color: #EFEFEF;
    padding-bottom: 50px;
  }
  .tote-directions {
    font-family: "NB";
	font-size: 18px;
    line-height: 26px;
  }
  .deodorant-thumbnail-mobile {
    padding-bottom: 20px;
  }
  .free-tote-second-div {
    background-color: rgb(220, 136, 108);
    text-align: center;
    color: #fff;
    height: 50px;
/*     margin-top: 25px; */
    width 100%;
/*     position: sticky;
    position: -webkit-sticky;
    -webkit-transform: translateZ(0);
    top: 50px; */
  }
/*   .free-tote-second-div.stick {
    width 100%;
    margin-top: 0;
    position: fixed;
    bottom: 22px;
    z-index: 9999;
    color: black;
} */
  .free-tote-second-div h3 {
	padding-top: 18px;
    font-size: 16px;
  }
  .free-tote-third-div {
    height: 350px;
    background: url("https://cdn.shopify.com/s/files/1/0838/7991/files/PublicGoods_Gym_0275.jpg?4607713010609965950");
    background-size: cover;
    background-position-x: 35%;
  }
  .free-tote-review-section {
    height: 500px;
    background-color: rgb(220, 136, 108);
    text-align: center;
    color: #fff;
  }
  .free-tote-review-section h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 32px;
  }
  .free-tote-review {
    padding-bottom: 50px;
  }
  .free-tote-review img {
    width: 120px;
  }
  .ft-review-words {
    font-family: 'NBH';
    font-size: 20px;
    margin: auto;
    width: 95%;
    line-height: 30px;
  }
  .ft-review-name {
    padding-top: 20px;
  }
  .free-tote-product-carousel {
    height: 500px; 
    text-align: center;
    font-family: 'NB' !important;
    background-color: #fff;
  }
  .free-tote-product-carousel p {
    font-size: 20px;
    padding-top: 40px;
    line-height: 26px;
  }
  .free-tote-product-name {
    color: blue !important;
  }
  .free-tote-publications {
    height: 600px;
    background-color: rgb(220, 136, 108);
    color: #000;
  }
  .ft-publication {
    width: 48%;
    color: #fff;
    display: inline-block;
  }
  .ft-publication p {
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 20px;
    font-weight: bold;
  }
  .ft-publication img {
    width: 50%;
    max-width: 150px;
  }
  .ft-pub-top {
    padding-top: 50px;
    width: 95%;
    padding-left: 25px;
  }
  .ft-pub-bottom {
    padding-top: 50px;
    width: 95%;
    padding-left: 25px;
  }
  
    
  @media (min-width: 1100px) {
    .free-tote-publications {
      height: 275px !important ;
    }
    .ft-top-div-words {
      padding-left: 100px;
    }
   .free-tote-image {
     margin-right: 100px;
   }
   .ft-pub-top {
     width: 45%;
	 float: left;
     margin-left: 40px;
     padding-left: 0;
    }
   .ft-pub-bottom {
     width: 45%;
 	 float: right;
     margin-right: 40px;
   }
    .free-tote-product-carousel {
      padding-bottom: 100px;
    }
  }
  
   @media (min-width: 951px) {
    .free-tote-image {
      width: 33px;
      margin-right: 150px;
    }
    .powr-image-slider {
      display: none;
    }
    .ft-member-favorites {
      display: block !important;
    }
    .free-tote-product-carousel p {
      padding-bottom: 40px;
    }
  }
    
  @media (min-width: 900px) {
    .free-tote-image {
      width: 33px;
      margin-right: 150px;
    }
  }
  
  @media (min-width: 797px) {
    .free-tote-image {
      display: block !important;
      width: 33%;
      float: right;
      margin-right: 150px;
    }
    .ft-top-div-words {
      width: 50%;
      padding-top: 50px;
    }
  }
  
  @media (min-width: 737px) {
    .free-tote-top-div {
      height: 475px;
      padding-bottom: 75px;
    }
    .deodorant-thumbnail-mobile {
      display: none;
    }
    .free-tote-image {
      display: block !important;
      width: 52%;
      float: right;
      margin-right: 10px;
	  max-width: 450px !important;
    }
    .ft-top-div-words {
      width: 50%;
      padding-top: 50px;
    }
    .ft-signup-btn {
      display: block !important;
      padding: 15px 0px 15px 15px;
      width: 240px;
      background-color: rgb(220, 136, 108);
      color: #fff;
      font-family: 'NBH';
      margin-top: 50px;
    }
    .free-tote-third-div {
      width: 50%;
      float: left;
      height: 500px;
    }
    .free-tote-review-section {
      width: 50%;
      float: right;
    }
    .free-tote-product-carousel {
      clear: both;
    }
    .free-tote-second-div {
/*       top: 55px;  */
      z-index: 100;
    }
    .free-tote-second-div h3 {
      padding-top: 14px;
    }
  }
  
  @media (min-width: 525px) {
    .free-tote-publications {
      height: 500px;
    }
  }
  
  @media (max-width: 500px) {
    .ft-publication p {
      font-size: 16px !important;
      padding-right: 15px;
    }
    .free-tote-top-div {
      width: 90%;
      padding-bottom: 10px;
    }
  }
  
  @media (max-width: 400px) {
    .free-tote-review-section h1 {
      font-size: 26px;
    }
    .free-tote-review-section {
      height: 550px;
      width: 100%;
    }
    .free-tote-product-carousel p {
      padding-bottom: 20px;
    }
    
    .popup-wrapper button.close {
    font-size: 40px;
    padding-top: 0;
    right: 10px;
    top: 5px;
}
  }
  
  @media (max-width: 335px) {
    .free-tote-review-section {
      height: 600px;
    }
     .free-tote-product-carousel {
      height: 400px;
    }
  }
  
  @media (max-width: 313px) {
    .free-tote-publications {
       height: 700px;
    }
  }
  
  
</style>
  
  <script>
  $(function(){
     function setCookie(name, value, options) {
      options = options || {};

      var expires = options.expires;

      if (typeof expires == "number" && expires) {
        var d = new Date();
        d.setTime(d.getTime() + expires * 1000);
        expires = options.expires = d;
      }
      if (expires && expires.toUTCString) {
        options.expires = expires.toUTCString();
      }

      value = encodeURIComponent(value);

      var updatedCookie = name + "=" + value;

      for (var propName in options) {
        updatedCookie += "; " + propName;
        var propValue = options[propName];
        if (propValue !== true) {
          updatedCookie += "=" + propValue;
        }
      }

      document.cookie = updatedCookie;
    }
    
    setCookie('is_free_tote', true, { expires: 24*3600, path: '/' })
  })
  
  
  
  
//   function sticktothebottom() {
//     var h = window.innerHeight;
//     var window_top = $(window).scrollTop();
//     var top = $('#stick-here').offset().top;
//     var panelh = $(".free-tote-second-div").height();
//     console.log('height: ', h, 'window top: ', window_top, 'stick here top: ', top, 'second-div: ', panelh) 
//     if (window_top + h > top + 5) {
//         $('.free-tote-second-div').addClass('stick');
//       console.log('ayee')
//         $('#stick-here').height($('.free-tote-second-div').outerHeight());
//     } 
    
//     if (window_top + top < panelh + (22 * 2)) {
//         $('.free-tote-second-div').removeClass('stick');
//         $('#stick-here').height(0);
//       console.log('yooo')
//     }
// }
  
   function sticktothebottom() {
    var h = window.innerHeight;
    var window_top = $(window).scrollTop();
    var top = $('#stick-here').offset().top;
    var panelh = $(".free-tote-second-div").height();
    
    if(h> top || h + window_top > top + 50) {
        $('#stickThis').appendTo('body');
        $('#stickThis').css('position', 'fixed');
     	$('#stickThis').css('bottom', '0');
    } else {
        $('#stickThis').appendTo('#stick-here');
        $('#stickThis').css('position', 'relative');
        $('#stickThis').css('bottom', 'auto');
    }
   }
   
  
 
    var w = window.innerWidth
    || document.documentElement.clientWidth
    || document.body.clientWidth;

    var h = window.innerHeight
    || document.documentElement.clientHeight
    || document.body.clientHeight;


      $(function() {
        $(window).scroll(sticktothebottom);
        sticktothebottom();
      });
    
</script>
