<!-- Bold: Memberships (page) -->
{% include 'bold_mem_helper' with 'page' %}
<!-- end Bold code -->
{{ page.content }}
<!-- /templates/page.liquid -->
<div id="page_content">
  <div class="row clearfix">
  	<div class="column_12">
      <div class="us-more">
        <p>Tell us a bit more about why you chose <span class="vote">[x]</span>.</p>
        <form action="#" name="us-more">
          <textarea required ></textarea>
          <button class="button inverted button-cta" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  var getUrlParameter = function getUrlParameter(sParam) {
          var sPageURL = decodeURIComponent(window.location.search.substring(1)),
              sURLVariables = sPageURL.split('&'),
              sParameterName,
              i;

          for (i = 0; i < sURLVariables.length; i++) {
              sParameterName = sURLVariables[i].split('=');

              if (sParameterName[0] === sParam) {
                  return sParameterName[1] === undefined ? true : sParameterName[1];
              }
          }
      };
  
  function getUrlParameterFromString(url, name) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
 }
  
  var vote = getUrlParameter('vote');
  console.log(vote);
  $("span.vote").text(vote);
  
  $(document).ready(function(){
    
	$("span.vote").text(vote);	
  })
  
</script>

<style>
  /* NPS Tell us More page */
.us-more {
  padding-top: 50px;
}
</style>