
<div id="FAQ-content">
  
  <div id="FAQ-first-section">
    <div id="FAQ-first-content">
      <h1 class="FAQ-first-header">Need help?</h1>
      <p class="FAQ-words">We’re here for you. Contact us at anytime at <a href="mailto:service@publicgoods.com" target="_blank" class="underline" style="color:#000;">service@publicgoods.com.</a></p>
      <a class="FAQ-btn" href="https://www.publicgoods.com/pages/contact">Contact Us</a>
      <p class="response-time">Estimated response time: less than 24 hours.</p>
    </div>
  </div>

  <div id="FAQ-second-section">
    <div>
      <h1 class="FAQ-second-header">Help topics.</h1>
    </div>
    
    <div id="FAQ-question-container">
      <div class="FAQ-cat general-info">
        
        <p class="FAQ-title">General information</p>
        
        <p class="FAQ-question">What is Public Goods?</p>
        <img class="exit-img" src="https://cdn.shopify.com/s/files/1/0838/7991/files/x_50.png?49609" /><p class="FAQ-answer">We're a brand that delivers essentials across several categories, united by a set of values. We believe the products you use everyday should be healthy, sustainable and easy to access. We deliver well-designed, eco-friendly essentials directly to you. Read more about our brand <a href="https://www.publicgoods.com/pages/about-us" class="underline" target="_blank">here.</a></p>
        
        <p class="FAQ-question">Do I need a membership to buy something from Public Goods?</p>
        <img class="exit-img" src="https://cdn.shopify.com/s/files/1/0838/7991/files/x_50.png?49609" /><p class="FAQ-answer">You can try any Public Goods product with a free, two week trial membership. By using a membership model, we're able to deliver a better value than traditional brands. Annual membership is $59 after your trial ends.</p>
        
        <p class="FAQ-question">What are the benefits of a Public Goods membership?</p>
        <img class="exit-img" src="https://cdn.shopify.com/s/files/1/0838/7991/files/x_50.png?49609" /><p class="FAQ-answer">When you become a member of Public Goods you get access to our entire line of thoroughly researched, high-quality products at well below retail prices. 
			<br><br>     
        	Most brands go through four suppliers before selling you a product. That adds cost at every step. We work through a membership model instead that allows us to deliver the highest quality at a minimal margin. We ethically source, partnering with the best vendors around the globe to offer products that are good for you, good for your wallet and good for the planet. 
        </p>
        
        <p class="FAQ-question">What makes Public Goods products more sustainable?</p>
        <img class="exit-img" src="https://cdn.shopify.com/s/files/1/0838/7991/files/x_50.png?49609" /><p class="FAQ-answer">We use the most eco-friendly innovations whenever possible, from sugar cane bottles to tree free paper and toxin-free ingredients. We carefully select ethical vendors, stick to essentials and never go overboard on choice. Better made, longer lasting products with high-end, ethically sourced ingredients inherently make less waste and pollution. We also find them more enjoyable to use.</p>
        
        <p class="FAQ-question">Are all of your products organic, gluten-free, non-GMO, etc?</p>
        <img class="exit-img" src="https://cdn.shopify.com/s/files/1/0838/7991/files/x_50.png?49609" /><p class="FAQ-answer">Each product we make meets the highest standards possible. Most of our products are certified organic and we've made sure to include plenty of options that are vegan-friendly, gluten-free and tree free. Each product is clearly marked with the certifications that it meets. We think shopping for specific dietary needs should be straightforward, so you can shop each category easily.
		<br><br>
        To get you started, here are a few of our most popular ones:<br>
        <a href="https://www.publicgoods.com/collections/organic" class="underline" target="_blank">Organic</a><br>
		<a href="https://www.publicgoods.com/collections/gluten-free" class="underline" target="_blank">Gluten Free</a><br>
		<a href="https://www.publicgoods.com/collections/non-gmo" class="underline" target="_blank">Non-GMO</a><br>
		<a href="https://www.publicgoods.com/collections/vegan" class="underline" target="_blank">Vegan Friendly</a><br>
		<a href="https://www.publicgoods.com/collections/tree-free-paper" class="underline" target="_blank">Tree Free</a><br>
        </p>
        
      </div>
      
      <div class="FAQ-cat shipping-orders padding-top-25">
        <p class="FAQ-title">Shipping + orders</p>
        
        
        <p class="FAQ-question">Where is my order?</p>
        <img class="exit-img" src="https://cdn.shopify.com/s/files/1/0838/7991/files/x_50.png?49609" /><p class="FAQ-answer">On it’s way! Contact us anytime and we’ll be happy to give you an up-to-the-minute update. You can also track your information online through your <a href="https://www.publicgoods.com/account" class="underline" target="_blank">account dashboard.</a> To view order details and tracking information, just click the order number in the first column. You can view your complete order history or a single order. </p>
        
        <p class="FAQ-question">How much does shipping cost?</p>
        <img class="exit-img" src="https://cdn.shopify.com/s/files/1/0838/7991/files/x_50.png?49609" /><p class="FAQ-answer">
        <u>Contiguous US</u><br> 
		Shipping is free for orders $45 or more. If your order does not meet the free shipping threshold, shipping costs will vary based on the weight of your order and your area code. Orders that qualify for free shipping will be shipped Standard Ground. Second-day air and Overnight shipping are available for an additional fee. 
        <br><br>
        <u>Alaska, Hawaii, Puerto Rico, USVI</u><br>
		We offer discounted shipping to non-contiguous states and US territories. While shipping to these areas can be expensive, we are looking for improved options to get products to you.
        <br><br>
        <u>Do you ship to Canada?</u><br>
		We do! Shipping to Canada is free for orders $100 or more. 
		<br><br>
		For orders under the $100 free shipping threshold, rates will vary based on the weight of your order and your area code. To find your shipping cost for orders under $100, add items to your cart and enter your address at checkout.
		<br><br>
		The duties required for your area code will also be applied at checkout. Orders that qualify for free shipping will ship Standard Ground.
        </p>
        
        <p class="FAQ-question">What is your return policy?</p>
        <img class="exit-img" src="https://cdn.shopify.com/s/files/1/0838/7991/files/x_50.png?49609" /><p class="FAQ-answer">If you are dissatisfied with any product you receive, don’t hesitate to contact our customer service team and we’d be happy to find a resolution. If your order was damaged or defective, we will be happy to refund or replace it within 30 days. Contact <a href="mailto:service@publicgoods.com?Subject=Refund" class="underline" target="_blank">service@publicgoods.com</a> and include a picture if possible. 
		<br><br>If something didn’t meet your high standards, let us know. We want to make it better and make you happy. Although we don’t accept returns at this time, we’re always open to feedback and would love to know how we can improve our products. </p>
        
      </div>
      
      <div class="FAQ-cat membership padding-top-25">
        <p class="FAQ-title">Membership</p>
        
        <p class="FAQ-question">How do I sign up?</p>
        <img class="exit-img" src="https://cdn.shopify.com/s/files/1/0838/7991/files/x_50.png?49609" /><p class="FAQ-answer">Your membership is automatically added to your cart when you checkout for the first time.</p>
        
        <p class="FAQ-question">My annual membership is almost up. What happens next?</p>
        <img class="exit-img" src="https://cdn.shopify.com/s/files/1/0838/7991/files/x_50.png?49609" /><p class="FAQ-answer">So you can enjoy uninterrupted benefits, your membership will automatically renew and you will be charged your annual membership fee. If you wish to cancel your account you can email our customer service team at <a href="mailto:service@publicgoods.com?Subject=Annual%20membership" class="underline" target="_blank">service@publicgoods.com.</a></p>
        
        <p class="FAQ-question">I’d like to cancel my membership.</p>
        <img class="exit-img" src="https://cdn.shopify.com/s/files/1/0838/7991/files/x_50.png?49609" /><p class="FAQ-answer">We'll miss you but, to cancel your free trial or annual membership account, email our customer service team at <a href="mailto:service@publicgoods.com?Subject=Cancel%20membership" class="underline" target="_blank">service@publicgoods.com.</a> 
		For annual memberships, please note that we refund a prorated membership fee for each month that your annual membership is active. </p>
        
        <p class="FAQ-question">I’m having trouble logging in.</p>
        <img class="exit-img" src="https://cdn.shopify.com/s/files/1/0838/7991/files/x_50.png?49609" /><p class="FAQ-answer">You can reset your password <a href="https://www.publicgoods.com/account/login" class="underline" target="_blank">here </a> by clicking "Forgot your password?" If you need further assistance, please email our customer service team at <a href="mailto:service@publicgoods.com?Subject=Login%20trouble" class="underline" target="_blank">service@publicgoods.com.</a></p>
        
	  </div>
      
    </div>
    <div id="FAQ-bottom-section">
      <p style="font-family:'NBH'">Need support for a business?</p>
      <p><a href="mailto:chris@publicgoods.com?Subject=B2B%20inquiry" target="_blank" class="underline" style="color:#000;">partnerships@publicgoods.com.</a></p>
    </div>
  </div>
  
</div>



<style>
  #FAQ-first-section {
    height: 530px;
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/waves_desktop_0dd6ad76-5a75-4345-8f13-fc85ff3022c4.jpg?49451);
    background-size: cover;
    text-align: center;
    margin: 0 auto;
  }
  
  #FAQ-first-content {
  	padding-top: 150px;
    width: 370px;
    margin: 0 auto;
  }
  
  .FAQ-words {
    padding: 50px 0;
  }
  
  .FAQ-btn {
    padding: 15px;
    background-color: #f5886b;
    color: #fff;
    display: block;
    width: 150px;
    margin: 0 auto;
    font-family: 'NBH';
  }
  
  .FAQ-btn:hover {
    cursor: pointer;
    opacity: .8;
  }
  
  .response-time {
    padding-top: 50px;
  }
  
  #FAQ-second-section {
    text-align: center;
  }
  
  .FAQ-second-header {
    padding: 100px 0;
  }
  
  #FAQ-question-container {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
  }
  
  .FAQ-cat {
    text-align: left;
    width: 20%;
  }
  
  .exit-img {
    width: 7px;
    padding-top: 3px;
    position: absolute;
    display: none;
  }
  
  .exit-img:hover {
    cursor: pointer;
  }
  
  .FAQ-title, .FAQ-question, .FAQ-answer {
    font-size: 14px;
    line-height: 20px;
  }
  
  .FAQ-question {
    padding-bottom: 8px;
  }
  
  .FAQ-question:hover {
	cursor: pointer;
  }
  
  .FAQ-title {
    font-family: 'NBH';
    padding-bottom: 5px;
    margin-bottom: 4px;
    border-bottom: 1px solid #f5886b;
  }
  
  .FAQ-answer {
    padding-left: 12px;
    padding-bottom: 10px;
    color: #828282;
    display: none;
  }
  
  #FAQ-bottom-section {
    padding: 25px 0;
    margin: 50px auto;
    background-color: #b7c5ce;
    width: 90%;
    color: #fff;
  }
  
  #FAQ-bottom-section p a {
    color: #fff !important;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  @media (max-width: 1300px) {
    .FAQ-cat {
      width: 28%;
    }      
  }
  
  @media (max-width: 800px) {
    .FAQ-cat {
      width: 32%;
    }      
  }
  
  @media (max-width: 750px) {
    #FAQ-first-section { 
      background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/waves_mobile_a201cf6b-7c14-48d1-a6ac-b2c61f448208.jpg?49602);
    }
    
    #FAQ-question-container {
      flex-direction: column;
    }
    
    .FAQ-cat {
      width: 100%;
    }
    
    .FAQ-second-header {
      padding: 75px 0;
    }
    
    .padding-top-25 {
      padding-top: 25px;
    }
    
    #FAQ-bottom-section {
      width: 95%;
    }
  }
  
  @media (max-width: 360px) {
    #FAQ-first-content {
      width: 260px;
    }
  }
  
</style>
	
<script>
  
  $(".FAQ-question").click(function(e) {
    $(e.target).next().slideToggle()
    $(e.target).next().next().slideToggle()
  })
  
  $(".exit-img").click(function(e) {
    $(e.target).slideUp()
    $(e.target).next().slideUp()
  })
  
</script>