<!-- Bold: Memberships (page) -->
{% include 'bold_mem_helper' with 'page' %}
<!-- end Bold code -->

<!-- /templates/page.liquid -->
<div id="page_content">
  <div class="row clearfix">
  	<div class="column_12">
      <div class="thanks">
      	Thanks for reviewing - we’re <br> always happy to hear from you.
        <a href="www.publicgoods.com/collections/all-products" class="thanks-a">Visit Us</a>
      </div>
    </div>
  </div>
</div>