<!-- Bold: Memberships (page) -->
{% include 'bold_mem_helper' with 'page' %}
<!-- end Bold code -->

<!-- /templates/page.liquid -->
<div id="page_content">
 
<div id="mission_hero">
     <div id="stick-here" class="stick-here"></div>
  <div class="row clearfix">
    <div class="column_6">
       <h1 class="margin_bottom_50">Revolutionizing
                                    <br>Household Products.</h1>
       <div class="igg-video-mobile">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4MHCVAlOvog?modestbranding=1" poster="https://cdn.shopify.com/s/files/1/0838/7991/files/desktop_04_47e750d6-850b-4599-ab6f-7839397cbacd.jpg?47846" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p class="margin_bottom_50 without-padding">Just one version of every essential in
                                                  <br>just one place. Healthy. High quality.
                                                  <br>Sustainable and affordable.</p>
      
      {% unless customer %}<a class="free-trial-btn subscribe-to-membership-32-45 subscribe-to-membership button inverted dt-button button-cta">Free Trial</a>{% endunless %}
        {% if customer %}<a href="/collections/all-products" class="home-shop-btn dt-button">Browse Products</a>{% endif %}
      
      <div id="stickThis" class="free-tote-second-div" style="width: 100%">
        <div class="stick-mobile">
        {% unless customer %}<a class="free-trial-btn subscribe-to-membership-32-45 subscribe-to-membership button inverted sticky-cta button-cta">Free Trial</a>{% endunless %}
        {% if customer %}<a href="/collections/all-products" class="home-shop-btn button sticky-cta">Browse Products</a>{% endif %}
        </div>
      </div>
      
    </div>
    <div class="column_6 igg-video-dt">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/4MHCVAlOvog?modestbranding=1" poster="https://cdn.shopify.com/s/files/1/0838/7991/files/desktop_04_47e750d6-850b-4599-ab6f-7839397cbacd.jpg?47846" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="text_center margin_top_50 margin_bottom_70">

         
    </div>
  </div>
</div>
  
  <div id="about-section-two">
    <div class="section-two-words">
      <p>Our mission is simple:<br>
         make healthy, eco-friendly products<br>
         affordable to everyone.
      </p>
    </div>
  </div>
  
  <div id="igg-comparison-section">
    <div class="igg-comparison-title">
      <h3>Premium quality products, yet more affordable <br>than even Amazon and Walmart</h3>
    </div>
    <div class="mobile-comparison">
      <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/Screen_Shot_2019-08-26_at_12.59.47_PM.png?48390" />
      <p class="left-comparison-words">Averaging <span style="color:#DC886C;">50% less</span> than Walmart and <br><span style="color:#DC886C;">60% less</span> than Amazon</p>
    </div>
    <div class="comparisons">
      <div class="comparison-left">
        <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/product-graphic.png?48046" />
        <div><img src="https://cdn.shopify.com/s/files/1/0838/7991/files/Screen_Shot_2019-08-13_at_4.10.24_PM.png?48051" /></div>
        <p class="left-comparison-words">Averaging <span style="color:#DC886C;">50% less</span> than Walmart and <br><span style="color:#DC886C;">60% less</span> than Amazon</p>
      </div>
      <div class="vertical-line" style="border-left:1px solid #000;height: 550px;margin-top: 60px;"></div>
      <div class="comparison-right">
        <img class="desktop-comparison" src="https://cdn.shopify.com/s/files/1/0838/7991/files/iPhone_8.png?48051" />
        <img class="mobile-comparison" src="https://cdn.shopify.com/s/files/1/0838/7991/files/Screen_Shot_2019-08-26_at_12.37.20_PM.png?48360" />
      </div>
    </div>
  </div>
  
   <div id="about-section-three">
    <div class="difference_pack">
       <div class="column_5">
        <h1 class="margin_top_100 about-section3-heading">How we're doing it</h1>
        <p class="about-section3-subheading">Most brands go through four suppliers before selling you soap. That adds cost as every step.</p>
        <p class="about-section3-subheading">We develop our own line of products and sell them directly to you, offering you the lowest cost - always.</p>
      </div>
      <div class="column_7">
        <img src="https://cdn.shopify.com/s/files/1/0838/7991/files/infographic.jpg?29093" alt="" class="fullSize"/>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  
  <div id="igg-testimonials">
    <h2 class="testimonial-title">As seen in</h2>
    <img class="testimonials" src="https://cdn.shopify.com/s/files/1/0838/7991/files/press-quotes_91d094a2-b12d-4230-90c1-ce737eea723d.png?41332" />
  </div>
  
    <div id="igg-lp-section-four">
    <div class="section-four-words">
      <p class="section-four-words-1">To start saving, sign up for our <span>annual membership</span> for just <span>$59</span>, and get
         instant access to our full collection of products.
      </p>
      <p class="section-four-words-2">You'll save every time you shop. We make it easier to make healthy
         choices for yourself and the planet.
      </p>
      <a class="free-trial-btn subscribe-to-membership-32-45 subscribe-to-membership button inverted button-cta">Free Trial</a>
    </div>
  </div>
  
  <div id="igg-lp-section-five">
    <div class="igg-title-five">
      <h2>Our line of natural products</h2>
    </div>
      <div class="shop-by-category">
        <div class="main-categories">
            <div class="main-categories-tile main-categories-pc">
              <a class="no-decor" href="https://www.publicgoods.com/collections/personal-care">
                <div class="main-categories-words">
                  <h2>Personal Care</h2>
                  <a href="https://www.publicgoods.com/collections/personal-care">shop all</a>
                </div>
              </a>
            </div>
            <div class="main-categories-tile main-categories-household">
              <a class="no-decor" href="https://www.publicgoods.com/collections/household">
                <div class="main-categories-words">
                  <h2>Home Essentials</h2>
                  <a href="https://www.publicgoods.com/collections/household">shop all</a>
                </div>
              </a>
            </div>
            <div class="main-categories-tile main-categories-food">
              <a class="no-decor" href="https://www.publicgoods.com/collections/grocery">
                <div class="main-categories-words">
                  <h2>Healthy Food</h2>
                  <a href="https://www.publicgoods.com/collections/grocery">shop all</a>
                </div>
              </a>
            </div>
             <div class="main-categories-tile main-categories-vitamins">
               <a class="no-decor" href="https://www.publicgoods.com/collections/vitamins-and-supplements">
                <div class="main-categories-words">
                  <h2>Vitamins and Supplements</h2>
                  <a href="https://www.publicgoods.com/collections/vitamins-and-supplements">shop all</a>
                </div>
               </a>
            </div>
        </div>
      </div>
      <div class="igg-section-five-words">
        <p class="section-five-paragraph1">
          We're adding new products every month, and all of them are healthy, cruelty-free, and offered at the lowest cost possible.
        </p>
        <p class="section-five-paragraph2">
          Just as we prioritize making products that are healthy and affordable, we also look for the most innovative ways to make eco-friendly products accessible:
          sugarcane bioplastics, bamboo paper and menstrual care products, organic and fair-trade food, and biodegradable replacements for single-use plastics.
          We want to make sustainable choices straight-forward, easier to understand, and readily available in the marketplace. 
        </p>
      </div>
  </div>
  
  <div id="igg-lp-review-section">
    <div class="igg-review-title">
      <h2>What our members are saying</h2>
    </div>
    <div class="igg-review-subheader">
      <p>Over 20,000 members have already signed up. We love hearing from our members. Here's some real feedback: </p>
    </div>
    <div class="igg-reviews">
      <hr class="displayNone">
      <div class="igg-review igg-review-one">
        <img class="igg-stars" src="https://cdn.shopify.com/s/files/1/0838/7991/files/gold-stars.png?47970" />
        <p class="actual-review">"I love products and service.<br> So glad I joined!"</p>
        <p class="reviewer">- Sara S.</p>
      </div>
      <hr class="displayNone">
      <div class="igg-review igg-review-two">
        <img class="igg-stars" src="https://cdn.shopify.com/s/files/1/0838/7991/files/gold-stars.png?47970" />
        <p class="actual-review">"I got my Public Goods membership<br>
           ... and I've loved every product I've<br>
           purchased so far... For equivalent <br>
           low-impact/sustainable goods it's<br>
           definitely a money saver."
        </p>
        <p class="reviewer">- Erin M.</p>
      </div>
      <hr class="displayNone">
      <div class="igg-review igg-review-three">
        <img class="igg-stars" src="https://cdn.shopify.com/s/files/1/0838/7991/files/gold-stars.png?47970" />
        <p class="actual-review">"We love our membership.<br>
           Everything smells great in a natural<br>
           way, and it looks sleek to have all <br>
           our household products match with <br>
           minimalist design."
        </p>
        <p class="reviewer">- Pilar G.</p>
      </div>
    </div>
  </div>
 

  <div id="igg-lp-bottom-section">
    <div class="bottom-section-content">
      <h2>Start your annual membership today</h2>
      <a class="free-trial-btn subscribe-to-membership-32-45 subscribe-to-membership button inverted button-cta">Free Trial</a>
    </div>
  </div>
  
</div>

<style>

  
  #mission_hero {
    background-image: none;
    background-color: #eaeaea;
    padding-top: 65px !important;
    padding-bottom: 50px !important;
  }
  
  #mission_hero .column_6 {
/*     padding-left: 100px; */
  }
  
  .igg-video-mobile {
    display: none;
  }
  
  #about-section-two, #igg-lp-section-four {
/*     height: 400px; */
    margin: 100px;
  }
  
  .igg-comparison-title {
    text-align: center;
  }
  
  .comparisons {
    display: flex;
    justify-content: space-evenly;
  }
  
  .comparison-left {
    padding-top: 75px;
    text-align: center;
  }
  
  .comparison-left img {
    width: 500px;
  }
  
  .vertical-line {
    display: none;
  }
  
  .left-comparison-words {
    width: 400px;
  }
  
  .difference_pack .column_5 {
    padding-right: 100px !important;
    float: right;
  }
  
  .about-section3-heading {
    padding-bottom: 20px;
  }
  
  .section-two-words, .section-four-words {
    background-color: #F5886B;
  }
  
  #igg-testimonials {
    text-align: center;
    margin: 100px 0;
  }
  
  .testimonial-title {
    padding-bottom: 50px;
  }
  
  .testimonials {
    width: 50%;
    margin: 0 auto;
  }
  
  .section-four-words {
    padding: 60px;
    text-align: center
  }
  
  .section-two-words p {
    text-align: center;
    padding: 70px;
    color: white;
    font-size: 22px;
    line-height: 28px;
/*     font-weight: bold; */
  }
  
  .section-four-words p {
    text-align: center;
    color: white;
    font-size: 22px;
    line-height: 28px;
    width: 700px;
    margin: 0 auto;
  }
  
  .section-four-words-1 {
    padding-bottom: 25px;
  }
  
  .section-four-words a {
    background-color: #fff !important;
    color: #DC886C !important;
    margin-top: 40px;
  }
  
  .left-comparison-words span, .section-four-words-1 span {
    font-family: 'NBH' !important;
  }
  
  
  .mobile-comparison {
    display: none;
  }

  
  #about-section-three {
    background-color: #eaeaea;
  }
  
  .about-section3-heading {
    margin-top: 75px;
  }
  
  .difference_pack {
    padding: 60px 0;
  }
  
  .column_7 {
    padding-left: 60px;
  }

  .column_7 img {
    width: 75%;
    padding-left: 75px;
  }
  
  .difference_pack a {
    font-family: 'NBH';
    text-decoration: underline;
    color: #000;
    font-size: 18px;
  }
  
  .about-section3-subheading {
    padding: 20px 0;
    padding-right: 20px;
/*     min-width: 450px; */
  }
  
  .differences-middle {
	float: right;
  }
  
  .igg-title-five {
    margin: 120px 0 70px 0;
  }
  
  .igg-title-five h2 {
    text-align: center;
  }
  
  .shop-by-category {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  
  .main-categories {
    display: flex;
    height: 230px;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  .main-categories-tile {
    width: 24%;
    background-size: cover;
    background-position-y: 100%;
    cursor: default;
  }

  .main-categories-pc {
    background-image: url("https://cdn.shopify.com/s/files/1/0838/7991/files/tile_personal_care.jpg?12413255820896601983")
  }

  .main-categories-household {
    background-image: url("https://cdn.shopify.com/s/files/1/0838/7991/files/tile_household.jpg?12413255820896601983")
  }

  .main-categories-food {
    background-image: url("https://cdn.shopify.com/s/files/1/0838/7991/files/tile_food.jpg?12413255820896601983")  
  }

  .main-categories-vitamins {
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/tile_vitamins_retouch.jpg?41730);
    background-position-x: 85%;
  }

  .main-categories-words {
    margin-top: 120px;
  }

  .main-categories-words a {
    color: #000;
    text-decoration: underline;
    margin-top: 5px;
  }

  .main-categories-words h2 {
    margin-bottom: 5px;
    line-height: 24px;
  }
  
  .no-decor {
        text-decoration: none !important;
  }
  
  .igg-section-five-words {
    width: 750px;
    margin: 0 auto;
    padding-bottom: 100px;
  }
  
  .section-five-paragraph1 {
    padding-bottom: 25px;
  }
  
  #igg-lp-review-section {
    padding: 100px;
    background-color: #eaeaea;
  }
  
  .igg-review-title {
    text-align: center;
    padding-bottom: 50px;
  }
  
  .igg-review-subheader {
    text-align: center;
    width: 685px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  
  .igg-reviews {
    display: flex;
    justify-content: space-evenly;
  }
  
  .igg-review {
    text-align: center;
  }
  
  .igg-stars {
    width: 150px;
  }
  
  .actual-review {
    padding: 25px 0;
  }
  
  #igg-lp-bottom-section {
    height: 450px;
    background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/1-brand-general_ef43fc77-93b1-4bc7-9c61-581947c533c2.jpg?48616);
    background-size: cover;
    background-position-y: 75%;
  }
  
  .bottom-section-content {
    text-align: center;
    padding-top: 75px;
  }
  
  .bottom-section-content h2 {
    padding-bottom: 60px;
  }
  
  .displayNone {
    display: none;
  }
  
  .stick-mobile {
    display: none;
  }
  
  a.button.sticky-cta {
      display: none;
    }
  
  
  @media (max-width: 1300px) {
    .main-categories-household {
      background-position-x: 35%;
    }
    .main-categories-food {
      background-position-x: 75%;
    }
  }
  
  @media (max-width: 1165px) {
    .about-section3-heading {
      margin-top: 40px;
    }
    
    .vertical-line {
      display: block;
    }
    .difference_pack .column_5 {
      padding-right: 40px !important;
      float: right;
    }
    
    .column_7 img {
      width: 85%;
      padding-left: 50px;
    }
  }
  
  @media (max-width: 1050px) {
    .section-four-words p {
      font-size: 18px;
      line-height: 24px;
      width: 550px;
    }
        
    .actual-review, .reviewer {
      font-size: 14px;
      line-height: 20px;
    }
  }
  
  @media (max-width: 1000px) {
    .main-categories {
      display: block;
      height: auto;
      text-align: -webkit-center;
      text-align: -moz-center;
    }

    .main-categories-household {
      margin: 50px 0;
    }

    .main-categories-vitamins {
      margin-top: 50px;
    }

    .main-categories-tile {
      width: 75%;
      height: 300px;
    }

    .main-categories-words {
      margin-top: 0;
      padding-top: 140px;
    }
  
  }
  
  @media (max-width: 950px) {
    .igg-video-mobile {
      display: block;
    }
    
    .igg-video-dt {
      display: none;
    }
    
    #mission_hero {
      height: 820px !important;
      padding-top: 100px;
    }
    
    #mission_hero .column_6 p {
      margin-top: 50px;
    }
    
    #about-section-two {
      margin: 0;
    }
    
    #igg-comparison-section {
      margin-top: 100px;
    }
    
    .igg-reviews {
      flex-direction: column;
    }
    
    .displayNone {
      display: block;
      color: #bfbfbf;
      border-width: 2px 0 0;
    }
    
    .reviewer {
      font-family: 'NBH';
    }
    
    .about-section3-heading {
      font-size: 24px;
    }
    
    .about-section3-subheading {
      font-size: 14px;
      line-height: 20px;
    }
    
    .stick-mobile {
      display: block;
    }
    
      a.button.sticky-cta {
      display: block !important;
    }
    
    a.button.sticky-cta {
      padding: 15px 0 !important;
      width: 100% !important;
      margin: 0 !important;
    }
    
    .dt-button {
      display: none !important;
    }
    
    #igg-lp-bottom-section {
      background-position-x: 60%;
    }
    
    .difference_pack .column_5 {
      padding-right: 40px !important;
      float: right;
    }
    
    .column_7 img {
      width: 75%;
      padding-left: 0px;
    }
    
    #mission_hero .column_6 {
      padding-left: 15px;
    }

  }
  
  @media (max-width: 600px) {
   .main-categories-tile {
      width: 100%;
    }
  }
  
  @media (max-width: 460px) {
    .column_6 p {
      margin: 40px 0 !important;
    }
    
    #mission_hero {
      height: 400px !important;
    }
    
    .main-categories-tile {
      background-position: bottom;
    }
    
    .column_7 img {
      width: 90%;
    }
    

  }
  
 
  
  @media (max-width: 1000px) {
    .about-tile {
      width: 200px; 
    }
    
    .evm_img_div, .evm-hover-li-div, .evm-instagram-button, .evm-instagram-overlay {
      height: 200px !important;
      width: 200px !important;
    }
  }
  
  @media (max-width: 850px) {
    .evm_img_div, .evm-hover-li-div, .evm-instagram-button, .evm-instagram-overlay {
      height: 300px !important;
      width: 300px !important;
    }
    
    .section-four-words p {
      width: 400px;
      font-size: 14px;
      line-height: 20px;
    }
    
  }

  
  @media (max-width: 870px) {
    .column_7, .column_5 {
      float: none;
      width: 100%;
      text-align: left !important;
    }
    
    .column_5 h1 {
      margin-top: 40px !important;
    }
    
    .igg-review-subheader {
      width: 400px;
    }
    
    .igg-section-five-words {
      width: 555px;
    }
    
    .difference_pack .column_5 {
      float: none;
      width: 500px;
      margin: 0 auto;
      text-align: center !important;
    }
    
    .difference_pack .column_7 {
      padding: 0;
      padding-top: 40px;
    }
    
    .difference_pack .column_7 img {
      margin: 0 auto;
    }
    
    .about-section3-heading, .column_5 h1 {
      margin-top: 0 !important;
    }

  }
  
  @media (max-width: 737px) {
    
    #mission_hero h1 {
      padding-bottom: 0;
    }
    
     #mission_hero {
      height: 600px !important;
      padding-top: 130px !important;
    }
    
    #mission_hero .column_6 {
      margin-top: -50px !important;
    }
    
    .difference_pack a {
      font-size: 13px;
    }
    
    .mobile-comparison {
      display: block;
      padding-top: 123px;
      text-align: center;
      padding: 50px 0;
    }
    
    .desktop-comparison {
      display: none;
    }
    
    .vertical-line {
      display: none !important;
    }
    
    .left-comparison-words, .comparison-left, .comparison-right {
      width: 50%;
    }
    
    .left-comparison-words {
      width: 100%;
    }
    
    .comparisons {
      display: none;
    }
    
    .mobile-comparison img {
	  margin: 0 auto;
      text-align: center;
    }
    
    .igg-comparison-title h3 {
      font-size: 18px;
      line-height: 22px;
    }
    
    .section-four-words p {
      width: 300px;
    }
    
    .left-comparison-words {
      margin: 0 auto;
    }
    
    #igg-lp-section-four {
      margin: 40px;
    }
    
    .actual-review {
      font-size: 13px;
    }
    
    .igg-section-five-words {
      width: 450px;
    }
    
    .igg-section-five-words {
      text-align: center;
    }
    
    .testimonials {
      width: 75%;
    }
    
    #igg-lp-bottom-section {
      background-image: url(https://cdn.shopify.com/s/files/1/0838/7991/files/mobile-banner-general-home.jpg?48616);
      background-position-y: 97%;
    }
    
  }
  
  @media (max-width: 615px) {
    
     #mission_hero {
      height: 550px !important;
    }
    
    .evm_img_div, .evm-hover-li-div, .evm-instagram-button, .evm-instagram-overlay {
      height: 200px !important;
      width: 200px !important;
    }  
    
    .section-two-words p {
      font-size: 16px;
      line-height: 22px;
      font-weight: bold;
    }
    
    #igg-lp-review-section {
      padding: 60px 40px;
    }
    
    .igg-comparison-title h3 {
	  font-size: 16px;
      line-height: 22px;
      font-weight: bold;
    }
    
    .section-four-words-2 {
      margin-bottom: 20px !important;
    }
  }
  
   @media (max-width: 515px) {
     
     #mission_hero {
      height: 500px !important;
    }
       
      .about-tile {
       width: 150px;
     }
     
     .section-one-heading {
       padding-top: 120px;
     }
     
     .column_7 {
      padding: 0 10px;
     }
     
     .igg-section-five-words {
      width: 300px;
     }
     
         
    .section-four-words {
      padding: 60px 0px;
    }
     
     .difference_pack .column_5 {
           width: 350px;
     }
        
    #igg-comparison-section {
      margin-top: 50px;
    }

   }
  
  @media (max-width: 475px) {
/*     .section-two-words p {
        text-align: center;
        padding: 80px 10px;
      } */
    
     .about-tile {
       width: 130px;
     }
    
    #igg-lp-section-four {
      margin: 20px;
   }
    
    .igg-review-subheader {
      width: 280px;
    }
    
    #mission_hero h1 {
    margin-bottom: 40px !important;
}
 
  }
  
    @media (max-width: 420px) {
     .about-tile {
       width: 115px;
     }
    .section-two-words p {
      padding: 70px 20px;
    }
      
      #mission_hero {
    height: 400px !important;
}
  }
  
   @media (max-width: 385px) {
     .about-tile {
      width: 100px;
     }
/*       .section-two-words p {
        font-size: 18px;
        line-height: 24px;
      } */
     .igg-comparison-title h3 {
       font-size: 13px;
       line-height: 20px;
     }

   }
  
    @media (max-width: 350px) {
     .about-tile {
      width: 75px;
     }
    #about-section-two {
      height: 200px;
    }
      
    #igg-comparison-section {
     margin-top: 75px;
    }
      
           .section-one-heading h1 {
       font-size: 24px;
       line-height: 30px;
     }
     
     .section-one-heading {
       padding-top: 140px;
       width: 240px;
     }
      
      .section-four-words p {
    width: 200px;
}
      
    }
  
   @media (max-width: 320px) {
      .section-two-words p {
        font-size: 13px;
        line-height: 20px;
      }
     
   }
  
     @media (max-width: 300px) {
     .about-tile {
      width: 50px;
     }
   }
</style>

<script>
   $(document).ready(function(){
     function sticktothebottom() {
        var h = window.innerHeight;
        var window_top = $(window).scrollTop();
        var top = $('#stick-here').offset().top;
        var panelh = $(".free-tote-second-div").height();

        if(h> top || h + window_top > top + 50) {
            $('#stickThis').appendTo('body');
            $('#stickThis').css('position', 'fixed');
            $('#stickThis').css('bottom', '0');
        } else {
            $('#stickThis').appendTo('#stick-here');
            $('#stickThis').css('position', 'relative');
            $('#stickThis').css('bottom', 'auto');
        }
      }

      var w = window.innerWidth
      || document.documentElement.clientWidth
      || document.body.clientWidth;

      var h = window.innerHeight
      || document.documentElement.clientHeight
      || document.body.clientHeight;


      $(function() {
        $(window).scroll(sticktothebottom);
        sticktothebottom();
      });
     
   })
</script>