<!-- /templates/customers/reset_password.liquid -->
<div id="account_page">
  <div class="row clearfix">
    <div class="column_6">
      <div class="main-words">
        <h1>Enter your new password.</h1>
      </div>
      {% form 'reset_customer_password' %}
        {{ form.errors | default_errors }}
        <div class="form_row">
          <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">
        </div>
        <div class="form_row">
          <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
        </div>
        <div class="form_row">
          <input type="submit" value="Reset Password">
        </div>
      {% endform %}
      
      <p style="font-size: 16px;">Need help? <a href="/pages/contact">Contact us</a> anytime.</p>
    </div>
<!--     <div class="column_6">
      <img src="{{ 'comb.png' | asset_url }}" alt="" class="fullSize"/>
    </div> -->
  </div>
</div>

<style>
  #account_page {
    padding-top: 150px;
}
  
  #account_page input {
    background-color: #fff !important;
    border: solid #606060 1px !important;
  }
  
  #account_page input[type="submit"] {
    color: #fff !important;
    background-color: #dc886c !important;
    border: none !important;
  }
  
  #ResetPassword::placeholder, #PasswordConfirmation::placeholder {
    color: lightslategray !important;
  }
</style>