<div class="smartSlideshow-wrapper js-smartSlideshow" data-slideshow-id="{{ section.settings.slideshow_id }}" data-section-id="{{ section.id }}"></div>

{% schema %}
{
  "name": "Product Slider",
  "settings": [
      
      {
        "type": "select",
        "id": "slideshow_id",
        "label": "Slideshow number",
        "options": [
          
          
            
              
            
          
           { "value": "3940", "label": "1"} 
        ]
      }
      
  ],
  "presets": [
    {
      "name": "Product Slider",
      "category": "SMART APPS"
    }
  ]
}
{% endschema %}
