#mobile_menu {
  overflow-y: scroll;
  max-height: 575px;
}

#forMenu {
  height: 0 !important;
}

.header-filter {
  overflow-x: hidden;
  overflow-y: hidden;
/*   -webkit-overflow-scrolling: touch; */
/*   margin-right: 10px;
  margin-left: 10px; */
}

.mobile-header-filter {
  display: block;
}

.header-filter-desktop {
  position: absolute;
  z-index: 10 !important;
  width: 100%;
  background-color: #fff;
  justify-content: center;
  height: 345px;
}
body .publicgoods-header {
    position: fixed;
    z-index: 100;
    width: 100%;
  top: 0;
}
.hide-filter {
  display: none !important;
}

#mobile-product-filter {
  display: none;
  text-align: center;
  margin-bottom: -25px;
  margin-top: 20px;
  padding: 10px 30px;
  position: sticky;
  position: -webkit-sticky;
  top: 50px;
  background-color: white;
  z-index: 2;
}

#mobile-categories-text {
  display: inline-block;
  border: 1px black solid;
  padding: 15px 162px;
  cursor: pointer;
}

#mobile-filter-display {
  display: none;
  position: absolute;
  background: #fff;
  padding-right: 33px;
}

.filter-collection-item {
  display: block;
  padding: 5px 0px 10px 0px;
}

.desktop-filter-collection-item a img{
  width: 100% !important;
  max-width: 160px !important;
}

.desktop-filter-collection-item:hover h2 a {
  color: #000 !important;
}

.filter-collection-item h2 {
  font-size: 13px;
  position: relative;
  line-height: 20px;
  font-family: 'NB';
}

.filter-collection-item h2 a {
  color: #adabab !important;
}

#mobile-menu-product-filter-li {
  background-color: #fff;
  padding-left: 68px;
  padding-top: 15px;
}

.mobile-filter-collection-item a img {
  max-width: 100px !important;
}

.mobile-filter-collection-item a {
  padding: 5px 0 0 0 !important;
}

.mobile-menu-filter-text a {
  padding: 5px 10px !important;
  color: #adabab !important
}

#filter-separator {
  flex-basis: 60em;
  margin-left: 15px;
  margin-bottom: 15px;
}

#filter-separator h1 {
  margin-bottom: 40px;
}

#mobile-nav-arrow {
  display: none;
  position: absolute;
  bottom: 84px;
  left: 30px;
}

#mobile-nav-arrow img {
  width: 15px;
}

@media (max-width: 950px) {
  #mobile-product-filter {
    display: block;
  }
}

@media (min-width: 737px) {
  #mobile-nav-arrow {
    display: none !important;
  }
}

@media (max-width: 737px) {
  #public-goods {
    margin-top: 0 !important;
  }
}

@media (max-width: 448px) {
  #mobile-categories-text {
    padding: 15px 142px;
  }
  
  .filter-collection-item img {
    width: 150px;
  }
  
  .filter-item-all-prod img {
    width: 100%;
  }
  
  #mobile-filter-display {
    margin-left: -30px;
    margin-right: -30px;
    padding-top: 5px;
  }
  
  #filter-separator h1 {
    text-align: center;
  }
  #filter-separator {
    margin-left: 0;
  }
/*      ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    } */
}

@media (max-width: 1060px) {
  .header-filter-desktop {
    height: 365px;
  }
}


@media (max-width: 950px) {
 .free-trial-mobile-banner {
    display: block !important;
    width: 100%;
    height: 35px;
    background-color: #dc886c;
    color: #fff;
    text-align: center;
  } 
  .free-trial-mobile-banner p {
    font-family: 'NB';
    font-size: 13px;
    padding-top: 10px;
    line-height: 16px !important;
  }
  .promo-desktop {
    display: none;
  }
  .promo-mobile {
    display: block !important;
    font-size: 13px !important;
  }
}

@media (max-width: 950px) {
  .store-categories-mobile {
    color: #000;
    flex: 0 0 auto;
    display: inline-block;
    padding: 0 15px;
    padding-top: 13px;
    border-bottom: 1px solid #000;
    cursor: pointer;
    text-decoration: none;
  }
}

@media (max-width: 395px) {
  #mobile-categories-text {
    padding: 15px 123px;
  }
}

@media (max-width: 365px) {
  #mobile-categories-text {
    padding: 15px 96px;
  }
  .promo-mobile {
    font-size: 11px !important;
  }
}

@media (max-width: 300px) {
  #mobile-categories-text {
    padding: 15px 70px;
  }
}

.categories-container-mobile {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
/*   justify-content: space-evenly; */
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
  height: 40px;
  background-color: #eaeaea;
  text-align: center;
}

.mobile-nav-food {
  display: none;
}

.mobile-nav-household {
  display: none;
}

.mobile-nav-vitamins {
  display: none;
}

.nav-food-title, .mobile-nav-vitamins {
  border-bottom: none;
}

.nav-household-title, .nav-vitamins-title {
  border-bottom: none;
}

.categories-container-desktop {
  display: inline-flex;
  width: 1280px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.store-categories-desktop:first-child {
  padding-left: 24px;
}

.store-categories-desktop {
/*   padding-left: 120px; */
  width: 230px;
  padding-right: 5px;
}

.desktop-filter-collection-item {
  padding: 5px 0 5px 0;
}

.dt-category-title {
  padding-bottom: 10px;
  font-size: 14px;
}
body#shipping, body#all-products {
    margin-top: 0 !important;
}

@media (min-width: 600px) {
  .categories-container-mobile {
    justify-content: space-evenly;
  }
}