#free-trial, #test-membership-petro{
  #PageContainer.popup-is-active{
    -webkit-transform: unset;
    will-change: unset;
    transition: none;
  }
}

.popup-wrapper{
  flex-grow: 2;
  position :relative;
  max-width: 600px;
  background-color: #fff;
  display: block;
  margin: 50px auto;
  padding: 50px;
  z-index: 999;
  button.close{
    position: absolute;
    right: 50px;
    top: 40px;
    font-size: 60px;
    font-weight: normal;
    line-height: 0;
    opacity: 1;
    font-family: 'NB';
    font-weight: 100;
    height: 45px;
    width: 36px;
  }
  .popup-header{
    max-width: 360px;
    margin: 0 auto;
    h4.popup-title{
      text-transform: uppercase;
      font-size: 35px;
      text-align: center;
      font-family: 'BN' !important;
      font-weight: 400;
      line-height: 1;
    }
    #wrap-list{
      list-style-type: none;
      margin: 40px 10px;
      li{
        margin: 15px 0;
        font-size: 16px;
      }
    }
  }
  .subscribed{
    .welcome{
      margin: 150px 0;
      text-align: center;
      font-size: 16px;
      line-height: 1.5em;
      color: black;
    }
    a{
      text-align: center;
      margin: 0 auto;
      display: block;
      font-size: 18px;
      color: white;
      background-color: #66827C;
      padding: 15px 10px;
      width: 40%;
    }
  }
  .popup-membership-wrapper{
    max-width: 600px;
    min-height: 230px;
    margin: 0 auto;
    form{
      height: 250px;
      label, 
      input, 
      button{
        display: block;
      }
      label{
        font-size: 16px;
        color: #010101;
        font-weight: 800;
        padding: 5px 0;
        font-family: 'NB';
      }
      input, 
      #card-element, 
      #card-expiry-element, 
      #card-cvc-element{
        width: 100%;
        height: 40px;
        border: 0.8px solid #67837D;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 0;
        margin: 0;
      }
      p{
        color: #A5A8AA;
        padding: 10px 0 0 10px;
        font-size: 14px;
        span{
          color: #000;
          text-decoration: underline;
        }
      }
      #valid_message{
        color: #ff6c6c;
      }
      button{
        margin: 20px auto 0;
        background-color: #66827C;
        color: #fff;
        font-size: 16px;
        font-weight: 800;
        font-family: 'NB';
        padding: 15px 50px;
      }
      .step-one{
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        .mail-wrapper{
          margin-top: 40px;
        }
      }
      .step-two{
        .names{
          margin-bottom: 10px;
        }
        .names, 
        .card-wrapper{
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          .field-wrapper{
            width: 49%;
          }
        }
        .card-data{
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          .card-field-wrapper{
            width: 48%;
          }
        }
        button#btn-step-two img{
          display: none;
          width: 26px;
          position: absolute;
          margin-top: -4px;
          margin-left: 8px;
        }
      }
    }
  }
}
#card-element{width:100% !important;}

@media screen and (max-width: 600px){
  .popup-wrapper{
    max-width: 600px;
    padding: 30px;
    button.close{
      font-size: 40px;
      padding-top: 0;
      right: 30px;
      top: 24px;
    }
    .popup-header{
      max-width: 360px;
      h4.popup-title{
        line-height: 1;
      }
      h4.subsok{
        width: 75%;
        margin: 0 auto;
      }
      #wrap-list{
        margin: 20px 10px 0px;
        li{
          margin: 10px 0;
          font-size: 13px;
        }
      }
    }
    .subscribed{
      .welcome{
        margin: 80px 30px;
        br{
          line-height: 3;
        }
      }
      a{
        width: 90%;
      }
    }
    .popup-membership-wrapper{
      min-height: unset;
      form{
        height: auto;
        min-height: unset;
        label{
          font-size: 13px;
          padding: 5px 0;
        }
        button{
          width: 100%;
          margin-top: 10px;
        }
        input{
          margin: 0;
        }
        p{
          padding: 10px 0 0 0;
          font-size: 11px;
        }
        .step-one{
          padding: 0;
          justify-content: start;
          .mail-wrapper{
            margin-top: 0;
          }
        }
        .step-two{
          .names{
            margin-bottom: 5px;
          }
        }
        #card-element, 
        #card-expiry-element, 
        #card-cvc-element{
          margin: 0;
        }
      }
    }
  }

}
@media screen and (max-width: 475px){
  .popup-wrapper{
    .popup-header{
      h4.popup-title{
        padding: 0 10px;
      }        
    }  
  }
}

#dont-run-out-membership-wrapper{
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  align-content: center;
  z-index: 999;
  height: 100%;
  background-color: rgba(.1, .1, .1, .4);
  display: none;
}